## MapReduce Console:

	MapReduce starts.
	16/05/16 00:09:50 INFO client.RMProxy: Connecting to ResourceManager at master/192.168.1.140:8032
	16/05/16 00:09:50 WARN mapreduce.JobSubmitter: Hadoop command-line option parsing not performed. Implement the Tool interface and execute your application with ToolRunner to remedy this.
	16/05/16 00:09:57 INFO input.FileInputFormat: Total input paths to process : 1
	16/05/16 00:09:57 INFO mapreduce.JobSubmitter: number of splits:2
	16/05/16 00:09:57 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1463211172532_0003
	16/05/16 00:09:58 INFO impl.YarnClientImpl: Submitted application application_1463211172532_0003
	16/05/16 00:09:58 INFO mapreduce.Job: The url to track the job: http://master:8088/proxy/application_1463211172532_0003/
	16/05/16 00:09:58 INFO mapreduce.Job: Running job: job_1463211172532_0003
	16/05/16 00:10:06 INFO mapreduce.Job: Job job_1463211172532_0003 running in uber mode : false
	16/05/16 00:10:06 INFO mapreduce.Job:  map 0% reduce 0%
	16/05/16 00:10:16 INFO mapreduce.Job:  map 16% reduce 0%
	16/05/16 00:10:17 INFO mapreduce.Job:  map 28% reduce 0%
	16/05/16 00:10:19 INFO mapreduce.Job:  map 41% reduce 0%
	16/05/16 00:10:20 INFO mapreduce.Job:  map 46% reduce 0%
	16/05/16 00:10:23 INFO mapreduce.Job:  map 61% reduce 0%
	16/05/16 00:10:26 INFO mapreduce.Job:  map 83% reduce 0%
	16/05/16 00:10:29 INFO mapreduce.Job:  map 87% reduce 0%
	16/05/16 00:10:32 INFO mapreduce.Job:  map 94% reduce 0%
	16/05/16 00:10:34 INFO mapreduce.Job:  map 100% reduce 0%
	16/05/16 00:11:04 INFO mapreduce.Job:  map 100% reduce 17%
	16/05/16 00:11:43 INFO mapreduce.Job:  map 100% reduce 67%
	16/05/16 00:19:36 INFO mapreduce.Job:  map 100% reduce 68%
	16/05/16 00:29:54 INFO mapreduce.Job:  map 100% reduce 69%
	16/05/16 00:40:17 INFO mapreduce.Job:  map 100% reduce 70%
	16/05/16 00:50:48 INFO mapreduce.Job:  map 100% reduce 71%
	16/05/16 01:01:11 INFO mapreduce.Job:  map 100% reduce 72%
	16/05/16 01:11:53 INFO mapreduce.Job:  map 100% reduce 73%
	16/05/16 01:22:48 INFO mapreduce.Job:  map 100% reduce 74%
	16/05/16 01:33:53 INFO mapreduce.Job:  map 100% reduce 75%
	16/05/16 01:44:25 INFO mapreduce.Job:  map 100% reduce 76%
	16/05/16 01:55:04 INFO mapreduce.Job:  map 100% reduce 77%
	16/05/16 02:05:42 INFO mapreduce.Job:  map 100% reduce 78%
	16/05/16 02:16:54 INFO mapreduce.Job:  map 100% reduce 79%
	16/05/16 02:28:33 INFO mapreduce.Job:  map 100% reduce 80%
	16/05/16 02:39:35 INFO mapreduce.Job:  map 100% reduce 81%
	16/05/16 02:50:14 INFO mapreduce.Job:  map 100% reduce 82%
	16/05/16 03:00:59 INFO mapreduce.Job:  map 100% reduce 83%
	16/05/16 03:12:25 INFO mapreduce.Job:  map 100% reduce 84%
	16/05/16 03:23:51 INFO mapreduce.Job:  map 100% reduce 85%
	16/05/16 03:34:43 INFO mapreduce.Job:  map 100% reduce 86%
	16/05/16 03:45:15 INFO mapreduce.Job:  map 100% reduce 87%
	16/05/16 03:56:08 INFO mapreduce.Job:  map 100% reduce 88%
	16/05/16 04:07:41 INFO mapreduce.Job:  map 100% reduce 89%
	16/05/16 04:19:22 INFO mapreduce.Job:  map 100% reduce 90%
	16/05/16 04:30:28 INFO mapreduce.Job:  map 100% reduce 91%
	16/05/16 04:41:13 INFO mapreduce.Job:  map 100% reduce 92%
	16/05/16 04:51:51 INFO mapreduce.Job:  map 100% reduce 93%
	16/05/16 05:01:50 INFO mapreduce.Job:  map 100% reduce 94%
	16/05/16 05:08:56 INFO mapreduce.Job:  map 100% reduce 95%
	16/05/16 05:10:42 INFO mapreduce.Job:  map 100% reduce 96%
	16/05/16 05:11:40 INFO mapreduce.Job:  map 100% reduce 97%
	16/05/16 05:12:07 INFO mapreduce.Job:  map 100% reduce 98%
	16/05/16 05:12:53 INFO mapreduce.Job:  map 100% reduce 99%
	16/05/16 05:19:50 INFO mapreduce.Job:  map 100% reduce 100%
	16/05/16 05:23:07 INFO mapreduce.Job: Job job_1463211172532_0003 completed successfully
	16/05/16 05:23:07 INFO mapreduce.Job: Counters: 49
		File System Counters
			FILE: Number of bytes read=1674190976
			FILE: Number of bytes written=2518116209
			FILE: Number of read operations=0
			FILE: Number of large read operations=0
			FILE: Number of write operations=0
			HDFS: Number of bytes read=478513489
			HDFS: Number of bytes written=0
			HDFS: Number of read operations=9
			HDFS: Number of large read operations=0
			HDFS: Number of write operations=2
		Job Counters 
			Launched map tasks=2
			Launched reduce tasks=1
			Data-local map tasks=2
			Total time spent by all maps in occupied slots (ms)=44952
			Total time spent by all reduces in occupied slots (ms)=18758061
			Total time spent by all map tasks (ms)=44952
			Total time spent by all reduce tasks (ms)=18758061
			Total vcore-seconds taken by all map tasks=44952
			Total vcore-seconds taken by all reduce tasks=18758061
			Total megabyte-seconds taken by all map tasks=46030848
			Total megabyte-seconds taken by all reduce tasks=19208254464
		Map-Reduce Framework
			Map input records=5011499
			Map output records=5011499
			Map output bytes=827027802
			Map output materialized bytes=837095458
			Input split bytes=224
			Combine input records=0
			Combine output records=0
			Reduce input groups=31511
			Reduce shuffle bytes=837095458
			Reduce input records=5011499
			Reduce output records=0
			Spilled Records=15034497
			Shuffled Maps =2
			Failed Shuffles=0
			Merged Map outputs=2
			GC time elapsed (ms)=77285
			CPU time spent (ms)=4841470
			Physical memory (bytes) snapshot=1073074176
			Virtual memory (bytes) snapshot=6348120064
			Total committed heap usage (bytes)=616562688
		Shuffle Errors
			BAD_ID=0
			CONNECTION=0
			IO_ERROR=0
			WRONG_LENGTH=0
			WRONG_MAP=0
			WRONG_REDUCE=0
		File Input Format Counters 
			Bytes Read=478513265
		File Output Format Counters 
			Bytes Written=0
	All is done.


## 'TermDict' in HBase:

	HBase Shell; enter 'help<RETURN>' for list of supported commands.
	Type "exit<RETURN>" to leave the HBase Shell
	Version 1.1.4, r14c0e77956f9bb4c6edf0378474264843e4a82c3, Wed Mar 16 21:18:26 PDT 2016

	hbase(main):001:0> count 'TermDict'
	Current count: 1000, row: 10271990                                                                                                             
	Current count: 2000, row: 10751988                                                                                                             
	Current count: 3000, row: 112090                                                                                                               
	Current count: 4000, row: 11711                                                                                                                
	Current count: 5000, row: 12201989                                                                                                             
	Current count: 6000, row: 1278                                                                                                                 
	Current count: 7000, row: 1331943                                                                                                              
	Current count: 8000, row: 13921981                                                                                                             
	Current count: 9000, row: 14561990                                                                                                             
	Current count: 10000, row: 1521977                                                                                                             
	Current count: 11000, row: 1591975                                                                                                             
	Current count: 12000, row: 1661968                                                                                                             
	Current count: 13000, row: 17391989                                                                                                            
	Current count: 14000, row: 18201981                                                                                                            
	Current count: 15000, row: 19101984                                                                                                            
	Current count: 16000, row: 199g                                                                                                                
	Current count: 17000, row: 2081                                                                                                                
	Current count: 18000, row: 2178                                                                                                                
	Current count: 19000, row: 2281982                                                                                                             
	Current count: 20000, row: 240                                                                                                                 
	Current count: 21000, row: 25171987                                                                                                            
	Current count: 22000, row: 2641967                                                                                                             
	Current count: 23000, row: 27821987                                                                                                            
	Current count: 24000, row: 2931980                                                                                                             
	Current count: 25000, row: 30611887                                                                                                            
	Current count: 26000, row: 321952                                                                                                              
	Current count: 27000, row: 3391979                                                                                                             
	Current count: 28000, row: 35688                                                                                                               
	Current count: 29000, row: 37511987                                                                                                            
	Current count: 30000, row: 391991                                                                                                              
	Current count: 31000, row: 4085                                                                                                                
	Current count: 32000, row: 4271982                                                                                                             
	Current count: 33000, row: 4491                                                                                                                
	Current count: 34000, row: 47131981                                                                                                            
	Current count: 35000, row: 4941965                                                                                                             
	Current count: 36000, row: 5151978                                                                                                             
	Current count: 37000, row: 5401977                                                                                                             
	Current count: 38000, row: 569                                                                                                                 
	Current count: 39000, row: 5981988                                                                                                             
	Current count: 40000, row: 621984                                                                                                              
	Current count: 41000, row: 6531990                                                                                                             
	Current count: 42000, row: 6861986                                                                                                             
	Current count: 43000, row: 7171989                                                                                                             
	Current count: 44000, row: 751929                                                                                                              
	Current count: 45000, row: 7861966                                                                                                             
	Current count: 46000, row: 81977                                                                                                               
	Current count: 47000, row: 85745                                                                                                               
	Current count: 48000, row: 8961981                                                                                                             
	Current count: 49000, row: 9331977                                                                                                             
	Current count: 50000, row: 97681983                                                                                                            
	Current count: 51000, row: abdelkad                                                                                                            
	Current count: 52000, row: aerobrak                                                                                                            
	Current count: 53000, row: alcat                                                                                                               
	Current count: 54000, row: amplitad                                                                                                            
	Current count: 55000, row: apec                                                                                                                
	Current count: 56000, row: artier                                                                                                              
	Current count: 57000, row: aulich                                                                                                              
	Current count: 58000, row: badawi                                                                                                              
	Current count: 59000, row: barrila                                                                                                             
	Current count: 60000, row: behav                                                                                                               
	Current count: 61000, row: bertocci                                                                                                            
	Current count: 62000, row: biocomput                                                                                                           
	Current count: 63000, row: boccon                                                                                                              
	Current count: 64000, row: boug                                                                                                                
	Current count: 65000, row: brioschi                                                                                                            
	Current count: 66000, row: burckhardt                                                                                                          
	Current count: 67000, row: calvagno                                                                                                            
	Current count: 68000, row: castrol                                                                                                             
	Current count: 69000, row: chanc                                                                                                               
	Current count: 70000, row: chollot                                                                                                             
	Current count: 71000, row: clingman                                                                                                            
	Current count: 72000, row: compaund                                                                                                            
	Current count: 73000, row: corella                                                                                                             
	Current count: 74000, row: cronbach                                                                                                            
	Current count: 75000, row: czornyj                                                                                                             
	Current count: 76000, row: dclgosheev                                                                                                          
	Current count: 77000, row: demis                                                                                                               
	Current count: 78000, row: dgdmo                                                                                                               
	Current count: 79000, row: disrive                                                                                                             
	Current count: 80000, row: dower                                                                                                               
	Current count: 81000, row: durban                                                                                                              
	Current count: 82000, row: eeffect                                                                                                             
	Current count: 83000, row: electropotenti                                                                                                      
	Current count: 84000, row: enochson                                                                                                            
	Current count: 85000, row: estrick                                                                                                             
	Current count: 86000, row: fahrenbuch                                                                                                          
	Current count: 87000, row: felson                                                                                                              
	Current count: 88000, row: fisk                                                                                                                
	Current count: 89000, row: forticr                                                                                                             
	Current count: 90000, row: ftth                                                                                                                
	Current count: 91000, row: gambh                                                                                                               
	Current count: 92000, row: genc                                                                                                                
	Current count: 93000, row: gilc                                                                                                                
	Current count: 94000, row: goldhar                                                                                                             
	Current count: 95000, row: greatest                                                                                                            
	Current count: 96000, row: guilfoyl                                                                                                            
	Current count: 97000, row: hakeem                                                                                                              
	Current count: 98000, row: hashimoto                                                                                                           
	Current count: 99000, row: helmbold                                                                                                            
	Current count: 100000, row: higler                                                                                                             
	Current count: 101000, row: holdren                                                                                                            
	Current count: 102000, row: huang                                                                                                              
	Current count: 103000, row: ibikunl                                                                                                            
	Current count: 104000, row: imaoka                                                                                                             
	Current count: 105000, row: instabilit                                                                                                         
	Current count: 106000, row: iris28                                                                                                             
	Current count: 107000, row: jacobscn                                                                                                           
	Current count: 108000, row: jittawiriyanukoon                                                                                                  
	Current count: 109000, row: kaininow                                                                                                           
	Current count: 110000, row: kasemlonnapa                                                                                                       
	Current count: 111000, row: kersten                                                                                                            
	Current count: 112000, row: kitt                                                                                                               
	Current count: 113000, row: kolechicki                                                                                                         
	Current count: 114000, row: kozina                                                                                                             
	Current count: 115000, row: kumar                                                                                                              
	Current count: 116000, row: l3771987                                                                                                           
	Current count: 117000, row: lanford                                                                                                            
	Current count: 118000, row: lecroisett                                                                                                         
	Current count: 119000, row: liau                                                                                                               
	Current count: 120000, row: llakhtakia                                                                                                         
	Current count: 121000, row: lssd                                                                                                               
	Current count: 122000, row: macrofort                                                                                                          
	Current count: 123000, row: malvar                                                                                                             
	Current count: 124000, row: martlesham                                                                                                         
	Current count: 125000, row: mbd                                                                                                                
	Current count: 126000, row: medica                                                                                                             
	Current count: 127000, row: metapacket                                                                                                         
	Current count: 128000, row: mikami                                                                                                             
	Current count: 129000, row: miyamoto                                                                                                           
	Current count: 130000, row: monteil                                                                                                            
	Current count: 131000, row: mtdr                                                                                                               
	Current count: 132000, row: muraki                                                                                                             
	Current count: 133000, row: namjoo                                                                                                             
	Current count: 134000, row: nemirovskii                                                                                                        
	Current count: 135000, row: niosh                                                                                                              
	Current count: 136000, row: nonquasistat                                                                                                       
	Current count: 137000, row: nzar                                                                                                               
	Current count: 138000, row: olbright                                                                                                           
	Current count: 139000, row: orthopt                                                                                                            
	Current count: 140000, row: packpropag                                                                                                         
	Current count: 141000, row: partitz                                                                                                            
	Current count: 142000, row: pends                                                                                                              
	Current count: 143000, row: phenylquinoxalin                                                                                                   
	Current count: 144000, row: piscitello                                                                                                         
	Current count: 145000, row: poly2                                                                                                              
	Current count: 146000, row: praeger                                                                                                            
	Current count: 147000, row: progenitor                                                                                                         
	Current count: 148000, row: pustogarov                                                                                                         
	Current count: 149000, row: rack                                                                                                               
	Current count: 150000, row: rattor                                                                                                             
	Current count: 151000, row: regret                                                                                                             
	Current count: 152000, row: revalid                                                                                                            
	Current count: 153000, row: roadblock                                                                                                          
	Current count: 154000, row: roumain                                                                                                            
	Current count: 155000, row: s371                                                                                                               
	Current count: 156000, row: sandon                                                                                                             
	Current count: 157000, row: schaerf                                                                                                            
	Current count: 158000, row: schumann                                                                                                           
	Current count: 159000, row: seldon                                                                                                             
	Current count: 160000, row: shacter                                                                                                            
	Current count: 161000, row: shirkoohi                                                                                                          
	Current count: 162000, row: silawatshananai                                                                                                    
	Current count: 163000, row: slc                                                                                                                
	Current count: 164000, row: soltani                                                                                                            
	Current count: 165000, row: spirogram                                                                                                          
	Current count: 166000, row: statu                                                                                                              
	Current count: 167000, row: strangio                                                                                                           
	Current count: 168000, row: suchoski                                                                                                           
	Current count: 169000, row: swanson                                                                                                            
	Current count: 170000, row: takamiya                                                                                                           
	Current count: 171000, row: teaslei                                                                                                            
	Current count: 172000, row: th2zn17                                                                                                            
	Current count: 173000, row: timor                                                                                                              
	Current count: 174000, row: torrei                                                                                                             
	Current count: 175000, row: trim                                                                                                               
	Current count: 176000, row: turko                                                                                                              
	Current count: 177000, row: unattach                                                                                                           
	Current count: 178000, row: usingcorrel                                                                                                        
	Current count: 179000, row: vaul                                                                                                               
	Current count: 180000, row: vickson                                                                                                            
	Current count: 181000, row: vossepoel                                                                                                          
	Current count: 182000, row: wattmet                                                                                                            
	Current count: 183000, row: whisen                                                                                                             
	Current count: 184000, row: wojciechowski                                                                                                      
	Current count: 185000, row: xpmo                                                                                                               
	Current count: 186000, row: yogyo                                                                                                              
	Current count: 187000, row: zeissman                                                                                                           
	Current count: 188000, row: zweier                                                                                                             
	188076 row(s) in 15.0910 seconds

	=> 188076

## 'DocMeta' in Redis:

	127.0.0.1:6379[5]> info
	# Server
	redis_version:3.2.0
	redis_git_sha1:00000000
	redis_git_dirty:0
	redis_build_id:3e72ba9a0897f1c
	redis_mode:standalone
	os:Linux 3.13.0-32-generic x86_64
	arch_bits:64
	multiplexing_api:epoll
	gcc_version:4.8.4
	process_id:20789
	run_id:66a37c7f55ce45ba4d904f5fd4478acb74719cc9
	tcp_port:6379
	uptime_in_seconds:642127
	uptime_in_days:7
	hz:10
	lru_clock:3616656
	executable:/home/hadoop/downloads/redis-stable/redis-server
	config_file:

	# Clients
	connected_clients:1
	client_longest_output_list:0
	client_biggest_input_buf:0
	blocked_clients:0

	# Memory
	used_memory:27902496
	used_memory_human:26.61M
	used_memory_rss:32653312
	used_memory_rss_human:31.14M
	used_memory_peak:27902496
	used_memory_peak_human:26.61M
	total_system_memory:135091060736
	total_system_memory_human:125.81G
	used_memory_lua:37888
	used_memory_lua_human:37.00K
	maxmemory:0
	maxmemory_human:0B
	maxmemory_policy:noeviction
	mem_fragmentation_ratio:1.17
	mem_allocator:jemalloc-4.0.3

	# Persistence
	loading:0
	rdb_changes_since_last_save:0
	rdb_bgsave_in_progress:0
	rdb_last_save_time:1463233879
	rdb_last_bgsave_status:ok
	rdb_last_bgsave_time_sec:0
	rdb_current_bgsave_time_sec:-1
	aof_enabled:0
	aof_rewrite_in_progress:0
	aof_rewrite_scheduled:0
	aof_last_rewrite_time_sec:-1
	aof_current_rewrite_time_sec:-1
	aof_last_bgrewrite_status:ok
	aof_last_write_status:ok

	# Stats
	total_connections_received:60
	total_commands_processed:11861554
	instantaneous_ops_per_sec:0
	total_net_input_bytes:551602232
	total_net_output_bytes:826668126
	instantaneous_input_kbps:0.01
	instantaneous_output_kbps:0.00
	rejected_connections:0
	sync_full:0
	sync_partial_ok:0
	sync_partial_err:0
	expired_keys:0
	evicted_keys:0
	keyspace_hits:11155538
	keyspace_misses:5
	pubsub_channels:0
	pubsub_patterns:0
	latest_fork_usec:621
	migrate_cached_sockets:0

	# Replication
	role:master
	connected_slaves:0
	master_repl_offset:0
	repl_backlog_active:0
	repl_backlog_size:1048576
	repl_backlog_first_byte_offset:0
	repl_backlog_histlen:0

	# CPU
	used_cpu_sys:339.49
	used_cpu_user:152.68
	used_cpu_sys_children:1.01
	used_cpu_user_children:7.13

	# Cluster
	cluster_enabled:0

	# Keyspace
	db0:keys=32513,expires=0,avg_ttl=0
	db5:keys=31513,expires=0,avg_ttl=0

## Inverted Files in Linux:

	hadoop@slave2:~/.devin/index$ du -b *
	7008300	0.abstract
	7303400	0.author
	39292240	0.reference
	2819960	0.title
	1875960	1.abstract
	86464	1.author
	3856140	1.reference
	528820	1.title
	2430324	2.abstract
	64624	2.author
	3669720	2.reference
	309272	2.title
	2676492	3.abstract
	131404	3.author
	3845296	3.reference
	131404	3.title
	1327360	4.abstract
	311100	4.author
	3505060	4.reference
	186636	5.abstract
	62212	5.author
	3048388	5.reference
	2052908	6.reference
	hadoop@slave2:~/.devin/index$ du -b
	86527580	.


## Single Term Query (at most 20 results per query):

	Test 0: samlin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102646:	0.022471219724442233
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102643:	0.01739947117835189
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102645:	0.016809599459981697
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102644:	0.01485968592262382

	Test 1: 9601988
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126114:	0.026572457810595144
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111835:	0.018757029042773044
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105252:	0.013286228905297572
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120688:	0.012649368346200663

	Test 2: tilleri
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118657:	0.005663412366251908

	Test 3: rpccc
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114618:	0.14715412620872426

	Test 4: 7511977
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11962:	0.019313688325935992

	Test 5: akademia
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105279:	0.030683006108127603
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100459:	0.010215150136365616

	Test 6: muret
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108230:	0.02259701534134511

	Test 7: 921990
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130750:	0.02488238644939833
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110932:	0.017689248183790553
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121619:	0.01743213701832848
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133170:	0.016987691598597726
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114806:	0.01599108035814666
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124083:	0.015864167021970892
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133341:	0.014880037554106695
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120030:	0.01347562951529213
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128054:	0.013237649303101541
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121692:	0.012624537124852626
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110893:	0.01223807170266326
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131859:	0.011208701185616819
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106535:	0.011104916915379626
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133343:	0.010651252458801061
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131861:	0.010538936967144108
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121716:	0.010392816523925473
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131945:	0.009297139743108524
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133162:	0.007190233973986808
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107204:	0.007164462526051372
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=210795:	0.006626138269950274

	Test 8: fienup
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115717:	0.020152295479561474
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14937:	0.01738629413922951
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126959:	0.016892436568363877
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108589:	0.013160682762162597
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127948:	0.011922030266900235
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100393:	0.010683144591574758
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120803:	0.010401184763644633

	Test 9: waldh
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101087:	0.029831043354911036

	Test 10: 20261989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169460:	0.025792313358054788
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101237:	0.017174502496714206
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128979:	0.012367986439613302
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124152:	0.012263350344523511
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127207:	0.01132443758377093
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126604:	0.010801251942791945

	Test 11: eswa76
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128734:	0.022153936609161873

	Test 12: cycloconvertor
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14481:	0.16095938847064004
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121773:	0.09924488625516026
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121772:	0.06942498497171513
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103418:	0.019120237220500377

	Test 13: 867
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112578:	0.02501190383830707
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130589:	0.024283401784764146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125080:	0.023485355716720252
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=86:	0.022134428175492982
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106375:	0.022036919681327816
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116072:	0.021561986067506096
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114949:	0.020417880684332302
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133795:	0.01992980385522476
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123987:	0.019464516605686436
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132610:	0.019166209837783197
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127449:	0.018876908557212885
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117582:	0.01812456799877324
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114046:	0.017738938892416362
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13610:	0.017676257129545632
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116121:	0.01634764956752096
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112555:	0.016294399894662588
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119524:	0.016084825619490078
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108109:	0.014171050333318454
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119399:	0.013895502132392816
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122319:	0.013857010436735219

	Test 14: 3651984
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100256:	0.018041529214646794

	Test 15: javel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119739:	0.008447482370596303

	Test 16: horak
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=83932:	0.03585230567196035
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=222118:	0.02686972730608197
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119360:	0.019381442647009944
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100140:	0.012488746494376125
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14432:	0.009935025222416863
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11890:	0.007795173636050153
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88586:	0.004732226823752929

	Test 17: ester
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109702:	0.0812740091316469
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109707:	0.04493910360167015
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12610:	0.04265402755533996
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122267:	0.02915896798980867
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109418:	0.027837907316071896
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122284:	0.027461719379368223
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102423:	0.02381445977429588
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124199:	0.02356205044229173
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109756:	0.021851260581432778
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11559:	0.019793836695518655
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=62516:	0.015241254255549364
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131748:	0.013982802069311342
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131750:	0.013139012289266692
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104630:	0.006000493801397387
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126266:	0.005118809153836898
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=76387:	0.004904667499774534

	Test 18: 15401990
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123294:	0.008113829566012606

	Test 19: rottwitt
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132858:	0.14808926036442596
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132793:	0.10875305058012531
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121428:	0.10545750359284879
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132896:	0.07733550263475578
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124873:	0.04316716095930427
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122355:	0.019280319216421107
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118009:	0.016224231321976736

	Test 20: panopli
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132570:	0.03171510925101068

	Test 21: 5171977
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110005:	0.024696191629885365

	Test 22: noell
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119208:	0.031276145801169705

	Test 23: mrowec
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102308:	0.03064002080182388

	Test 24: degeu
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124395:	0.03315530721219162
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114883:	0.021561118567798295
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100458:	0.018329736456862117
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100736:	0.017471940908388276
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130256:	0.017471940908388276
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122531:	0.01654341928389355
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114081:	0.013963795292924488

	Test 25: roser
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108150:	0.033269628534146355

	Test 26: macnab
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114804:	0.05514229544484728

	Test 27: 628
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132810:	0.0549143158551731
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119745:	0.033022798048043284
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112105:	0.028749259477120034
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119361:	0.026418238438434626
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119401:	0.022215336868683662
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119417:	0.022114814982400026
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129438:	0.02191647583457581
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116052:	0.021249452657001764
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112106:	0.02062183169244897
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112151:	0.019867374435408154
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100344:	0.01970715367383228
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129947:	0.018654099660726738
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130986:	0.018373586883873704
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100726:	0.01777226949494693
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112382:	0.01777226949494693
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118295:	0.017707877214168135
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11461:	0.01745490753968002
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102020:	0.016853014176242777
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119165:	0.01581674469615018
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14390:	0.015273044097220018

	Test 28: cage
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103242:	0.06564504244014008
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119132:	0.06511134290810643
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107236:	0.059798621957877475
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105039:	0.04341279219298935
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123949:	0.040351915630112443
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114655:	0.03974844021190715
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13857:	0.03703944494405844
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110051:	0.036667165776875586
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127863:	0.035200607251800214
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111504:	0.03477988518541875
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110039:	0.03477988518541875
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=152196:	0.0346696760939268
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120226:	0.03409615838408676
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123946:	0.03400222957311131
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114669:	0.03307737332319546
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114622:	0.03307737332319546
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103465:	0.031324929703423515
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114657:	0.030516544420754518
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106477:	0.028841856007420428
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106473:	0.02877111733109419

	Test 29: cichocki
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132970:	0.0706606094090211
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133134:	0.06777650290253044
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112594:	0.0410439718619269
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106285:	0.02330560450683503
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129463:	0.01664686036202502
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133175:	0.01640024020851354
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106306:	0.013895601013489505
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=161637:	0.013780284822506188
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101597:	0.013364380854020086
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113788:	0.012603600160242851

	Test 30: 6541979
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102774:	0.01822222196814565
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127523:	0.014050130743115669

	Test 31: dudevoir
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117361:	0.02923627362363077
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116686:	0.025736937200488145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13542:	0.0197417082777703
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116771:	0.017267414173623086
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13461:	0.013269017039157087
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116687:	0.010278222722394694
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=93097:	0.010165275219950797
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129198:	0.008882414698365785
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117360:	0.007925679700255395
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101120:	0.007591184425684241
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119688:	0.0070690833134374
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124476:	0.006717095762560849
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104314:	0.0061029974694709315

	Test 32: prenticehal
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106505:	0.034910871471169794
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128518:	0.028274920695658182
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102753:	0.02207268002693316
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102762:	0.021517392479085785
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104039:	0.020125090612792
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117598:	0.0161000724902336
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11836:	0.015307675186463714
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126146:	0.015205624018553956
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129221:	0.013416727075194666

	Test 33: divid
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132734:	0.06894318270000899
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118948:	0.06367705497390463
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032937:	0.06263794076969054
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106062:	0.062405467099146066
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11074:	0.05582946894689809
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121450:	0.05322084390751413
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104085:	0.052303243150488024
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123212:	0.051758742041812994
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110062:	0.05170738702500674
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129250:	0.05107070842560176
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111958:	0.047558436510320594
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104117:	0.04461158974600449
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132644:	0.04343101698220163
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115352:	0.043336972896118646
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107960:	0.043336972896118646
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126422:	0.04272659299617332
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11255:	0.042133168093448685
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=760080:	0.03611414408009887
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107955:	0.03568927179680359
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109972:	0.035668827382740444

	Test 34: wexler
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114892:	0.06113602087799134
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106386:	0.03731896560429573
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106368:	0.03524568973739041
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102644:	0.031880786135922136
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115368:	0.028127102154961805
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124044:	0.01903267245819082
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123921:	0.01818408196642435
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106434:	0.017955351375651716
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104990:	0.016892904548690076
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117903:	0.016843072971850285
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102643:	0.016573527098321304
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119633:	0.01616644600891641
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124026:	0.014947124967165566
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123449:	0.01460307349733311
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102750:	0.014237900903287207
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102645:	0.012918103478410058
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125090:	0.010652668073127905
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108598:	0.00807609863855339
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102649:	0.007405709127700708
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102646:	0.007236757588665711

	Test 35: 18401985
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123890:	0.028646798630882986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123900:	0.027662748296234333
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105007:	0.02106872108608545
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123887:	0.017939703103003454
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104962:	0.017634160714387823
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124016:	0.012180907653131757

	Test 36: nonpref
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129382:	0.023849092708543653

	Test 37: 3141966
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106248:	0.012730712868363442

	Test 38: eyesight
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13325:	0.07246476880511649

	Test 39: 2741934
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=210813:	0.015064676894230073

	Test 40: guvenir
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13266:	0.04560534241208037
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128599:	0.027184943522510448

	Test 41: horigawa
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108587:	0.009185778594042729

	Test 42: manchanda
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117951:	0.060202161164028704
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123490:	0.019099853370981773
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101231:	0.013784495290003543
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108871:	0.009999788642411722

	Test 43: luitjen
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734376:	0.14075750135884413
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734603:	0.1114990097060269
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734271:	0.09138658301451698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104700:	0.05612389216988462
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104645:	0.048961272406105975
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11612:	0.04283923954399604
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114335:	0.04267527253024207
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11640:	0.03518937533971103
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105064:	0.028834643601514914
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102874:	0.008876599184791972

	Test 44: tit
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101313:	0.05046924088478253
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112246:	0.02685786225817309
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122455:	0.024503786681759513
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112036:	0.02188772404669622
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100768:	0.02009951129778313
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=194370:	0.01939221201238199
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129905:	0.016622839073301723
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112496:	0.016445054698186197
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124707:	0.016058617381518637
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112062:	0.01503777617878151
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101706:	0.013115387721220565
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131973:	0.012551939708411505
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125040:	0.011942222305790284
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126588:	0.010659359544404917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129080:	0.00805032782345764
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109638:	0.006175151061367106

	Test 45: sty
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122184:	0.046359719911386925
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12570:	0.030776865289324978

	Test 46: timmin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104545:	0.030423108217033885
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11561:	0.02638017024799284
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125031:	0.008211407698703046

	Test 47: balsamo
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11418:	0.017434054447202748
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13076:	0.014763974036369894
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113509:	0.014730796566625242
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111446:	0.014632152839616592
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101656:	0.014470650048892347
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11838:	0.01326964468046201
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13068:	0.01234501783832059
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12527:	0.010961880388207747
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126319:	0.009418397230098036
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127439:	0.009245704474115985
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113664:	0.008133008029960587
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128231:	0.006744037522786248

	Test 48: restitut
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114763:	0.042545312576905726
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106500:	0.024583378466395803
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118107:	0.015539004392653315

	Test 49: ppx
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13892:	0.07557350451405365

	Test 50: am241
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106663:	0.01927250775381246

	Test 51: ara
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106750:	0.05907433705664301
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111599:	0.04594670659961123
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13638:	0.03044466956568944
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101050:	0.027927590585848976
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105788:	0.02580023039562225
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126067:	0.015798681534088282

	Test 52: shya
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122167:	0.03310917998731884

	Test 53: abbau
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=81847:	0.017118951016170537

	Test 54: fhtf
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115726:	0.022318039843303814

	Test 55: monetari
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14434:	0.029739442863842114
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=71295:	0.023285722125061126
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122689:	0.0193197840502332

	Test 56: 11081984
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11622:	0.03489886539203878

	Test 57: manikopoulo
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125079:	0.04248338236884096
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118313:	0.034785762952051824
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100646:	0.024846973537179875

	Test 58: newburgh
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112181:	0.023702779834763713
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118647:	0.016271375501323453
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125873:	0.015630770166625677

	Test 59: eid
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10595:	0.07247640053613395
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110910:	0.016397375686908133
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121563:	0.01561991390864956
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129489:	0.007479504699291429
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=62543:	0.0046104580493723886
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110904:	0.0025940014508279868

	Test 60: 77k
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133848:	0.033362385846154724
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133860:	0.032043276991234694
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102337:	0.026302925383717205
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133795:	0.024731037412578726
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11423:	0.02008896566523385
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133495:	0.018311181093089265
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133505:	0.0157550517526834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122384:	0.015177238118721908
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119994:	0.014172352489856758
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133653:	0.010485625659725101
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120023:	0.009362730604158764
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106245:	0.00879247930673833
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129107:	0.00786754168638436
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133800:	0.007251741110464089
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121696:	0.00501818139899536
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121693:	0.004380727163413733
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133310:	0.001750067772922825

	Test 61: poltzer
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117406:	0.023217635218262703
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13510:	0.021345245281306033
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104044:	0.01917978561508658

	Test 62: 22661963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126266:	0.007589257881224218

	Test 63: pelk
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112111:	0.03298834356400746

	Test 64: meandzija
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116503:	0.03800798227881873
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101464:	0.034266066379368
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116575:	0.026370289995559997
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11838:	0.02431279838078283
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117094:	0.013358960468560527
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113648:	0.006788141635220708

	Test 65: geophysik
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108417:	0.009337609645183929

	Test 66: 6441976
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109238:	0.02578062092417482
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105455:	0.016171957728402943
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126606:	0.006066028452747016

	Test 67: 12451990
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128819:	0.02782861036164146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118016:	0.017756073896638983
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125051:	0.01127079211995788
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124108:	0.009626248867234467

	Test 68: 7121960
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108412:	0.019909264617925207

	Test 69: 13691981
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108939:	0.017843665718305268
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108323:	0.013300554848653005
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133752:	0.007258163843369144

	Test 70: stanwyck
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113860:	0.019396579692141726

	Test 71: 4521991
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120147:	0.020355555271733432
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119752:	0.018924665898890494

	Test 72: greenhalgh
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132713:	0.13247266129223345
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130801:	0.00979551368710177

	Test 73: warszawa
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133313:	0.013612659844183802

	Test 74: asmar
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120020:	0.01779292546562607

	Test 75: wilbum
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124126:	0.02259701534134511

	Test 76: tjhung
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103033:	0.032023464516005615
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113838:	0.02530980086228371
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13434:	0.019121415486615438
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112344:	0.01891357401393484
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110387:	0.01693478159885163
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13660:	0.01218948377780739
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110404:	0.011504454937401687
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=16844:	0.008446838880009733

	Test 77: 381969
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=70142:	0.0047175397372328

	Test 78: newslin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129923:	0.05106670133637313

	Test 79: ignitor
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102421:	0.0861414877148188
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11459:	0.03136421249775165

	Test 80: coupland
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102193:	0.0812102069868929
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102313:	0.046591917266475616
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119892:	0.045303920495804326
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102500:	0.042499383993068976

	Test 81: cartland
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106836:	0.015570480711587141
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106833:	0.003562004977127916

	Test 82: 2438
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104152:	0.009441654274251896
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106837:	0.0064503909379738785
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125028:	0.002936550016511037

	Test 83: l12751988
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133452:	0.029346773170578065

	Test 84: 2381980
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101938:	0.016615452456871405

	Test 85: bic
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109519:	0.07980973230591379
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129882:	0.04219237181177275
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113807:	0.03300195418940641
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130110:	0.03106841112341082
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113471:	0.031054633911149508
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121566:	0.03048656133960409
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131520:	0.024988056822947986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114027:	0.017218426211771488
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121590:	0.015707234549568138
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124381:	0.012673648477763134
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=79289:	0.012252946453605022
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123498:	0.012077546402121922
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130417:	0.008485517515283937
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131515:	0.00827159690565493
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113821:	0.007345671878902513
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131467:	0.006309743793416261
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133728:	0.005587436320376178
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113702:	0.0054583365902380965

	Test 86: leipzig
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106507:	0.055751077335487655
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115340:	0.039822198096776895
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116052:	0.03151147849397128
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130740:	0.023155399532311167
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126916:	0.011999404062273834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100520:	0.003244243533399013

	Test 87: 2gt
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121549:	0.012748668739827988

	Test 88: djuri
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=146970:	0.03338311064564283
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121720:	0.005015491383059319

	Test 89: schauhert
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115181:	0.03463144113616109

	Test 90: olshen
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125875:	0.019587489118531563
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116176:	0.018766456640509282
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115965:	0.01832747519862602
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115902:	0.01698644042799485
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115865:	0.015788404327279848
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115915:	0.014853072317369905
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128948:	0.014180987597126923
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128505:	0.01350861318519418
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115900:	0.012147280073507946
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113482:	0.011232968670125626
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111508:	0.011212873914007335
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130362:	0.008402140104463942
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119632:	0.008046208623787035
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102797:	0.006502071076690975
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103346:	0.006261734783146953
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88569:	0.0041509910714768875

	Test 91: 18511989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102637:	0.019355045260252772

	Test 92: 16561986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108410:	0.015746641665537863
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126294:	0.014976258022409787
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105830:	0.011630498251445898
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122232:	0.0062472390607766545

	Test 93: 731997
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734228:	0.09415423058893796

	Test 94: sakellari
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14522:	0.02674405923842581
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104966:	0.022578317924029267
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124016:	0.020624069449561095
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123967:	0.019920976172871512

	Test 95: sinjou
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126884:	0.03338311064564283
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124478:	0.02608055519190846

	Test 96: bliek
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110050:	0.05629847626036222
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110039:	0.052158882417688526
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110055:	0.041974011886423905
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109956:	0.03477258827845902
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119762:	0.029556700036690163
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032952:	0.029556700036690163
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104287:	0.016232512605962562

	Test 97: im
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114972:	0.07096362429058153
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032920:	0.07096362429058153
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032937:	0.06912253073388425
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032981:	0.06086618496078369
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100843:	0.05150215650527851
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032958:	0.04782343104061576
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103906:	0.04626636708961869
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734649:	0.04463520230457471
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109979:	0.043267538321973345
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110063:	0.039939342530354596
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11048:	0.03855814639577216
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106292:	0.03847862267635751
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109922:	0.038390157403101484
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110064:	0.03753673854422853
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106288:	0.03640103007651591
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110041:	0.036102213504321704
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110022:	0.035661922866840466
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032965:	0.03500301929626583
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106291:	0.034773297669806795
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110076:	0.03456126536694212

	Test 98: photoemitt
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119164:	0.012519122072767374

	Test 99: 8861959
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12670:	0.02220836888584286

	Test 100: izerda
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104410:	0.020826742250087658

	Test 101: arr
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123205:	0.03125759423749329
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126137:	0.02231491353318371

	Test 102: kwarkernaak
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106173:	0.016111953897572272

	Test 103: 23271980
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104896:	0.037819272537816084

	Test 104: inwat
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110438:	0.023849092708543653

	Test 105: 10161987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10103:	0.025697188493999497
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100048:	0.014841927560085691
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105414:	0.007784736514358671

	Test 106: denkigakkai
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11593:	0.08822767271175565

	Test 107: semicaus
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112676:	0.04017247171794686

	Test 108: 6151989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101105:	0.03007718252456774
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115192:	0.024322342546942866
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100996:	0.019249396815723355
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123970:	0.019194555229353774
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119235:	0.01723091786573702
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106253:	0.01592739689244249
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102161:	0.01461450951302207
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131900:	0.013920018358477632
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131891:	0.01268792633804741
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113490:	0.012407530175880616

	Test 109: interdisciplineri
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734760:	0.1291258019505435

	Test 110: multiel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115097:	0.04183850248062948
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13472:	0.03637097090645631
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109844:	0.032744192159006036
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12689:	0.03153345260855325
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=95:	0.023109353355726753
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104001:	0.022073416825987277
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119487:	0.017300786160908948
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12853:	0.01181049977774227
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121645:	0.011753130098979875
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108098:	0.0102749452320005
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124094:	0.006281934131046428
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108859:	0.0034526919522849574
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125033:	0.0019702341888385073

	Test 111: heinsen
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110019:	0.024297865958435604

	Test 112: 36731969
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125048:	0.013292361965497124

	Test 113: telerobot
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11226:	0.07571715196306386
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11228:	0.07034714118554161
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131971:	0.040572830096724966
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100163:	0.038428010884563296
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100115:	0.03792472894211354
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117891:	0.036277264581268065
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128574:	0.03552676709718498
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126141:	0.03453251681014187
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131806:	0.031989951494390934
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128566:	0.031845200582651605
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100186:	0.030689382604767994
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120454:	0.03003857780271298
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119364:	0.027710878335804285
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126140:	0.027353022129652422
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131925:	0.02718342585314818
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131926:	0.026676325598764122
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131684:	0.024572277382523572
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100161:	0.024298491562105482
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117895:	0.023856912978867814
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100230:	0.023381359896232575

	Test 114: 1161960
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107350:	0.010461581176548662

	Test 115: naemura
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11304:	0.07873375152274252
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122630:	0.009091261069074845

	Test 116: xin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132183:	0.0912011311987135
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=37801:	0.05396066929257215
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111770:	0.05098645917408392
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123901:	0.0394834165555406
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104912:	0.03637797929836325
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127983:	0.03500151521680356
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112676:	0.028779023622705145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122334:	0.025393256137681012
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119265:	0.02434315907935586
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101936:	0.015491101232317363
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111946:	0.014750069054917216
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129078:	0.013462121237232137
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117999:	0.010810150776475222

	Test 117: usami
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=75017:	0.047174838585008594
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108218:	0.04200976481302909
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114888:	0.030724329281633662
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102498:	0.021934595019636963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124704:	0.020219838405723976
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=176505:	0.019706318700181778
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127196:	0.018529822061364956
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102625:	0.015570659041666636
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109987:	0.014886068082871127
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116701:	0.013612917523151887
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118661:	0.008480178129176586
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14370:	0.007398677461927605
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124983:	0.0062638651771516245
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108217:	0.004742162254054438

	Test 118: hidiaki
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101559:	0.0258251603901087

	Test 119: bachtel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114826:	0.015242506132441895

	Test 120: 211983
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12285:	0.021716588786879057
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13484:	0.021399558293639948
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130439:	0.01987619990663507
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=266536:	0.018733159656413246
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13408:	0.015309344575606646
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119496:	0.015073210726111428
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12257:	0.013960664220136537
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103893:	0.013861652417156846
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103896:	0.012370208802652627
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117400:	0.011869390632504749
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131901:	0.011633886850113781
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113349:	0.011565047282953345
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105383:	0.010758677013683203
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113460:	0.010545825490031196
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103502:	0.010433236605795988
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120795:	0.010414705102055676
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123413:	0.009396600917399592
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131820:	0.009190405912942548
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100239:	0.008938230140941075
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14432:	0.008212155423609728

	Test 121: nagl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102134:	0.04293889886719964
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101798:	0.038432709543619936
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120719:	0.030489158958958328
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14399:	0.029628391009010827
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112210:	0.02513496519055589
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117951:	0.019894470517621457
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122463:	0.019742022467678
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132603:	0.019370931819789314
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122585:	0.017953546564682777
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128606:	0.017767820220910197
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122573:	0.017585897146975962
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114873:	0.01662150923891599
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105537:	0.015427149293604663
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105173:	0.01519899837352217
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117330:	0.01515490548254105
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101236:	0.015110462944469083
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12539:	0.014473786135011116
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109105:	0.014473786135011116
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11861:	0.014155680945230653
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122605:	0.014078327497442507

	Test 122: eakman
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100187:	0.020683766902833054

	Test 123: naruducci
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124994:	0.019904459216188313

	Test 124: orbit
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10419:	0.1067936022799403
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117443:	0.0796330290604428
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10422:	0.06872949555879108
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117505:	0.06632640427146076
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10421:	0.06407616136796418
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105820:	0.05942953050472379
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10420:	0.05872408931853862
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10429:	0.05766854523116776
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11457:	0.05058644318523488
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114250:	0.04998508767912079
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106123:	0.0489451788371502
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120741:	0.04887164850098963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11241:	0.04865710257821771
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110408:	0.04490448544617851
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10418:	0.04439669278331847
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116451:	0.044021790252799814
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105824:	0.04204627963596631
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109077:	0.04178880089215055
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115357:	0.04061288373928564
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13549:	0.04003798948649414

	Test 125: 8251
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14803:	0.019522259474164243

	Test 126: gschwendtner
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=33:	0.018909636268908042

	Test 127: 1921985
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103754:	0.029617992251064148
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106875:	0.026059327286343532
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133794:	0.024639753037282018
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122206:	0.023195664947184905
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100515:	0.017114639271841835
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126054:	0.016577006624558844
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133796:	0.014934944647597826
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100142:	0.01479536572565766
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14810:	0.01361810006576662
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120579:	0.010415158767403747
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118060:	0.009353643324344872
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=134278:	0.009150890940146645
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133438:	0.008454494700375806
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118988:	0.004340244366402658
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102716:	0.0017306413037937902

	Test 128: 4061978
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104883:	0.04184632470619465

	Test 129: mt9
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11410:	0.043519067538684904
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11362:	0.03057589658967948
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11342:	0.030329602020471507
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11446:	0.028460953554755256
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11344:	0.020152295479561474
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133597:	0.010033391808777424
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119824:	0.006501932180390137

	Test 130: stereoscopi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109324:	0.029700276375127073
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=45741:	0.023913403041291425

	Test 131: sinqh
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13041:	0.035307836470851735

	Test 132: havlic
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132049:	0.011924546354271827

	Test 133: negreira
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103733:	0.011877537630141977

	Test 134: zienkiewiz
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105036:	0.039129030894104085

	Test 135: millott
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13688:	0.0516503207802174

	Test 136: 7321989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101368:	0.014830025870882056
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115948:	0.014483124680919902
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129107:	0.009416784488354766
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109149:	0.0071440797704922215
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123283:	0.006797660531849872

	Test 137: electronica
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1149003:	0.13555300580506088
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=37801:	0.05535081070373319
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13545:	0.04487903570572962
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110076:	0.040500593197853554
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100410:	0.03773918911618172
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112371:	0.029132005633543786
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112334:	0.028144480018847385
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122653:	0.012603600160242851
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111696:	0.011818678442078262
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108860:	0.011392962752054859
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101182:	0.009626227948475338

	Test 138: delahouss
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108927:	0.02391218554639694

	Test 139: 20251964
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=152187:	0.02918104077416331
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124560:	0.019965975266532793

	Test 140: 8761962
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108866:	0.022374739038634604
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108868:	0.01601876710443514

	Test 141: ananstoo
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111353:	0.04496918475889574

	Test 142: ubertragungstechnik
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116517:	0.033129298049573166
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11168:	0.021557374223806765
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14937:	0.018757029042773044
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108387:	0.010497761110358576

	Test 143: antipov
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119926:	0.03999471741830993

	Test 144: grannemann
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115247:	0.1179934742547005
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101175:	0.012140100592317245
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101232:	0.011395660461656281
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124080:	0.011342159708315173
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108865:	0.008125157010777349

	Test 145: nonunlformli
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100541:	0.019438292766748484

	Test 146: galair
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124897:	0.015191270817710998

	Test 147: rtfai
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101272:	0.03148977186359531

	Test 148: 1521969
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103041:	0.04031776648024497
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116602:	0.0364444439362913

	Test 149: corrector
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119892:	0.0765317799432943
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=665881:	0.07622765441596237
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103184:	0.0730515021486306
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124250:	0.06414278237440736
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132412:	0.06143866128143792
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126378:	0.049619888251900036
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119884:	0.044508420033323524
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117890:	0.038062372994014604
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133595:	0.035656852019034846
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11056:	0.03393360099807357
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117802:	0.031877019119402446
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119882:	0.028634919719295285
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115150:	0.02858537040598589
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111903:	0.02697286233180207
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103177:	0.026167702262196037
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126023:	0.026094771083366986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119835:	0.02358613522287625
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12687:	0.02200714709080085
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119841:	0.020871857756751603
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116652:	0.019056913603990592

	Test 150: nitroglycerin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130579:	0.029386541061305307
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130552:	0.02745321599148259

	Test 151: aliad
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=66254:	0.0364444439362913
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=66255:	0.03012916123252963

	Test 152: fidud
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119365:	0.024167930846358408

	Test 153: 5861982
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115658:	0.020681072911969793
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103938:	0.02003844070284079
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100718:	0.019017715841301984
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112470:	0.01612183638364918
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121728:	0.008693147069614755
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=61532:	0.007988297307213559
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120093:	0.007718833524271642

	Test 154: 2591963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114823:	0.021217854780605738

	Test 155: parser
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10141:	0.09786219816154762
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128399:	0.0735872544550949
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10119:	0.040664201062560884
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=266527:	0.03619045301070241
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13038:	0.034494025525825735
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10180:	0.03207139118720368
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130375:	0.03002682275287145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115781:	0.027401415485233335
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115778:	0.02723382272997197
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128401:	0.0251866896162327
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115540:	0.022381736828516612
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132578:	0.02228689896059917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115782:	0.02046579048521947
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115918:	0.01826287553715765
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10118:	0.01813692467138415
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13049:	0.01795122237099455
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129950:	0.01713259985244757
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132637:	0.01702170923851587
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115534:	0.016966800499036785
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117798:	0.01669748620540128

	Test 156: 1354
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116559:	0.038831221033246786
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108919:	0.028224544917684006
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133598:	0.024483942579195766
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115754:	0.023269090466487577
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110343:	0.02095017767085823
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126087:	0.019051567819436704
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129123:	0.016611721259454346
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133759:	0.015794045860672914
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115583:	0.014210959678833906
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108380:	0.013369521276797688
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108366:	0.013253264570042925
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131558:	0.011977410024007358
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119037:	0.010945245425888232
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108888:	0.010403586522559292
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116611:	0.009005172381417645
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104140:	0.008610878110479867
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124115:	0.007155518429835382
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124541:	0.006721611579073589
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100172:	0.004916533630822375

	Test 157: kittowski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113629:	0.014105095968393846

	Test 158: cineangiogram
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130551:	0.03240008691444243
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130508:	0.029210487192156184
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14514:	0.02136277185692334
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130552:	0.02005428191519653
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130510:	0.017774057440873892
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109401:	0.015712633253143673
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109314:	0.014655052168797466
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130600:	0.012998937531385384
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125016:	0.012366129213427475
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102790:	0.009142847359071983
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108301:	0.008272051156336153
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102792:	0.006699452420021699
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118129:	0.0061456670385279695

	Test 159: schema
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10149:	0.07545938479975486
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116889:	0.048704125220415485
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10005:	0.04793890328455015
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13520:	0.040337772421816506
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118494:	0.03733975506273582
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105442:	0.03726369574549026
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107442:	0.03721284729850925
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131447:	0.03285302654181104
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105472:	0.032067469430941214
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105470:	0.03098874721766796
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13326:	0.029886622294345865
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119128:	0.029871804050188657
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131324:	0.027156185500171508
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107454:	0.024173003326309155
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105459:	0.023794142334710555
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116884:	0.023622068285140654
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128319:	0.022822793558958162
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113623:	0.02221303008363544
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128444:	0.022076950632194822
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100113:	0.021844042872943822

	Test 160: 18521989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114797:	0.03484442333467978
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120448:	0.024991862253839293
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131850:	0.024485270451396604
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114798:	0.02169952111860298
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126178:	0.02094693657113698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131667:	0.020132333482259433

	Test 161: dyl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122653:	0.017151434794189836

	Test 162: orient84
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11957:	0.0299638914892296
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10079:	0.016073747458797256
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11828:	0.01569255186688902

	Test 163: finiten
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124039:	0.027763745610649804
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104987:	0.022883087160362664
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106445:	0.02046502898104599

	Test 164: gerhas
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116128:	0.023849092708543653

	Test 165: delfino
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14190:	0.0322081924474773
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127891:	0.03045226913282939
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106617:	0.022851622574467136
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108216:	0.013546990754417561
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108223:	0.006895946768423782
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108208:	0.002520918279517703

	Test 166: pasquier
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106834:	0.012624030916952576

	Test 167: schmld
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133743:	0.014866457461411256

	Test 168: lorenzelli
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13715:	0.02436335885859311

	Test 169: 4561975
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12712:	0.028603816887778622

	Test 170: atten
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=733928:	0.04601834530777021
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109704:	0.029787199132175847
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114809:	0.023693089317187
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108160:	0.019052218723549338

	Test 171: gundermann
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113965:	0.030957679005466292
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113963:	0.030011941032010752
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113961:	0.013080709438929418
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113976:	0.012272992840925284
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113971:	0.008182646433162896

	Test 172: greenfeld
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13276:	0.041112205228624174
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121651:	0.012042969208384859

	Test 173: 19841984
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108196:	0.009223271567895963

	Test 174: 1471990
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121798:	0.025407769271892377
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108623:	0.02383710717144812
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133318:	0.02268236841573783
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=574252:	0.022604153352235288
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133374:	0.016894856886979982
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131481:	0.013888145068110664
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113808:	0.012509932198756171
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118120:	0.010998665221725223
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133704:	0.009902121559136305
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126933:	0.009104450655761435
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108712:	0.008382614414511807
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125089:	0.007365398283312621

	Test 175: cpw
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133028:	0.16134263637699828
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=147064:	0.07036228277465627
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129441:	0.06019432283612213
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133107:	0.05748084539366016
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115475:	0.05378087879233276
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103859:	0.047805225593184675
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734579:	0.024800203456135636
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734503:	0.01949759956217502
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106536:	0.019402051915210213
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110932:	0.01814292170242371
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120105:	0.01652677453285514
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108325:	0.014601143563529257
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106535:	0.011389723068743774
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121716:	0.010659359544404917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123473:	0.005279356615555054
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734506:	0.0024062795215655857

	Test 176: 19221990
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108731:	0.02450750384149952
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128624:	0.021518783860828845
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124137:	0.017187080616116547

	Test 177: sakuta
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133394:	0.031792552985749685
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133436:	0.030898308918977584
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133450:	0.0204612847230634
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133456:	0.019636837353269637
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113063:	0.01954449546475765
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126741:	0.017541320029311577
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119007:	0.012643529710949555
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=91:	0.00781779818590306
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13742:	0.006383484405828104
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=90:	0.004845001171064635
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111617:	0.0039627137237681345

	Test 178: approcah
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126083:	0.013592189679004578

	Test 179: 128971986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110904:	0.0032350773573865585

	Test 180: elbaum
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133441:	0.023076172455603196
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128854:	0.01791160739503349
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12675:	0.017436770759992302
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133328:	0.016597567889190534
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126259:	0.014640307524899199
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112503:	0.014537448221445575
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133333:	0.013763836786158005
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132030:	0.013095971288095486
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126851:	0.010226508056931236
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133359:	0.009419560531953353
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133706:	0.00835463040451852
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133409:	0.007989048121695316
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133362:	0.007372316378334038
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121696:	0.00501818139899536
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108099:	0.004695529796185522
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108859:	0.003348160944205642
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133310:	0.001750067772922825

	Test 181: vanichsetakul
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118138:	0.008826959117712934

	Test 182: klebesadel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124161:	0.015477407768044595

	Test 183: 19761991
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123934:	0.03517045189314414

	Test 184: 1951973
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10124:	0.015628797118746644
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108498:	0.0102026621777637

	Test 185: 3c1
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124779:	0.030325889638007794
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124689:	0.027017610768406947
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102692:	0.025798065837888576
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124807:	0.022931614078123178
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111906:	0.019707806263426816

	Test 186: pileri
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116739:	0.06603098092055007
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117296:	0.037092345161825364

	Test 187: kamwamura
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111644:	0.032868385951047435

	Test 188: arrilaga
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131204:	0.01833817839410126
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103646:	0.01821199826753634
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105276:	0.016716697357149146

	Test 189: egal
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116473:	0.01728261211575152

	Test 190: 449
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032977:	0.03206508939861768
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115775:	0.02529357983617668
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111049:	0.023954507962496735
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=691239:	0.02143298080854971
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127847:	0.02088341719807408
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110015:	0.020671402810276372
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104147:	0.019208803554832288
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114136:	0.019029282026282453
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122183:	0.018766204394582698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12650:	0.018766204394582698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106723:	0.017477537998388176
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103916:	0.01628906541449778
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103394:	0.01609591444120334
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109949:	0.01609591444120334
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100934:	0.015662562898555558
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12845:	0.015662562898555558
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128503:	0.015026813113005332
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14522:	0.015026813113005332
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112281:	0.014916726570052913
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131794:	0.014440660828455479

	Test 191: nalamwar
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105243:	0.0047976678007102145

	Test 192: cheminat
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113061:	0.03360150980125667

	Test 193: skupski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102326:	0.02397561309426537

	Test 194: 44688
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106433:	0.042837943775061824

	Test 195: swirl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114808:	0.037557772818830416
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125039:	0.015334238606504725
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13839:	0.014859937571750293
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124227:	0.009638372606361967

	Test 196: andaut
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131580:	0.02008623585897343

	Test 197: eagland
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114457:	0.07532338447115036

	Test 198: ddblmn
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105450:	0.014649604759380947

	Test 199: 128a
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125036:	0.0052858515418351135

	Test 200: hruczkowski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133215:	0.0342976454296061

	Test 201: patrunki
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103698:	0.025127946976727357
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109765:	0.022494139503246018
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107305:	0.020001086258553763

	Test 202: gudat
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104859:	0.020874840961981625

	Test 203: microbreak
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103520:	0.012364987874881045

	Test 204: lumi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102619:	0.0213683360201845

	Test 205: godlewski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120142:	0.02966552760096794
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105794:	0.02407853838409766
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105800:	0.023607948057372624
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104339:	0.02169952111860298
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110388:	0.014553494083561035

	Test 206: irr
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133410:	0.06392172101725661
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106681:	0.05887762465415714

	Test 207: eastern
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88687:	0.15804522979936653
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88688:	0.1490140738108313
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109604:	0.05771631740378838
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128086:	0.0408823914943501
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122744:	0.04043017506495423
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106958:	0.03672882100971194
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129332:	0.035968914368131696
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103768:	0.031633805858198714
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114971:	0.028191851802049164
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169501:	0.02480504652466186
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132658:	0.021115354588579334
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128087:	0.021115354588579334
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103769:	0.020488623115497963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110351:	0.020452912091682728
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=218083:	0.019906460241904945
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103534:	0.0187099091058748
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123470:	0.016147035861854786
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129636:	0.015615247255626035
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131885:	0.015476239119819275
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127040:	0.015430451430115667

	Test 208: kruithof
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106823:	0.01922534682584723
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125026:	0.006214279718101793

	Test 209: 3781977
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115913:	0.027875538667743827
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101804:	0.026355054740412345
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116786:	0.023607948057372624
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100821:	0.019072736983193145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11791:	0.01742221166733989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108506:	0.007734941359245886

	Test 210: 6731979
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133228:	0.0076665022362494015

	Test 211: brantlei
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124788:	0.02258260992854548
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130215:	0.015104924521742339
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130033:	0.013338266682942065
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130167:	0.012861900015694136
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127581:	0.010792635344399495
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130019:	0.010047769175255917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12497:	0.00976109958395047
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124149:	0.008214322699098775
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113080:	0.00640087072810971

	Test 212: dozier
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133897:	0.0457843221147294
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101176:	0.025221549844246374
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133868:	0.0228921610573647
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105672:	0.020393016837128377
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133857:	0.018205793631158058
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101188:	0.01685920886535162
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101219:	0.014909068838488896
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101195:	0.013919525650379728
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124078:	0.012979659929978567
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101183:	0.012258567711646426
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124099:	0.012177385144019628
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12867:	0.011837771497344484
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101218:	0.011792931453793936
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124092:	0.011717298966102314
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133757:	0.01090188828110848
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105715:	0.010774131777814241
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124098:	0.00957700602472377
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101171:	0.0090372298036761
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124151:	0.008854503162505445
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101180:	0.008460667899142472

	Test 213: 11251930
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101405:	0.08217096487761859

	Test 214: eletromagn
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123352:	0.021118705926490757

	Test 215: chona
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131865:	0.029538582145549164

	Test 216: wski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11931:	0.01695836048130965

	Test 217: wollard
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102846:	0.029157439150122724

	Test 218: benelux
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=695111:	0.07006826462432593

	Test 219: 5771984
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105791:	0.02779120202697901
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132552:	0.022825076578859047
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116046:	0.01908648644956317
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120866:	0.01566532378407543
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127484:	0.015591777663023434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105952:	0.013751754212107625
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=45214:	0.013695045947315429
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12320:	0.01366686684042795
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128462:	0.012748747187040275
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109316:	0.012415135111117725
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118219:	0.010906563685464669

	Test 220: 947
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105057:	0.024127101627070657
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115797:	0.023480839976345553
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103615:	0.02228689896059917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13379:	0.018852000554485316
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114100:	0.01776928430642366
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129020:	0.017532360515671346
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128484:	0.016750662913061796
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102680:	0.01633449737484908
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14392:	0.015379263610238022
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=152323:	0.01448955414518293
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130981:	0.013988585517822881
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=76992:	0.013877857927972042
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117487:	0.012704609069327062
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114078:	0.01264352921803222
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131626:	0.012119143213597704
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112672:	0.01176668490984654
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101485:	0.011434148162394355
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122170:	0.011409345237963999
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119786:	0.011384649685500873
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115711:	0.010647182499395554

	Test 221: wysor
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102211:	0.02271056818225639

	Test 222: 16351968
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108926:	0.028970532488903987

	Test 223: guthal
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102344:	0.03572650646852982

	Test 224: 6941988
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124519:	0.021482084065209937
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131494:	0.01886231771579409
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106697:	0.018760634062339677
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130041:	0.016976085944214684
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114114:	0.01693478159885163
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109362:	0.013182187949106099
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114936:	0.010610053715134177
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118699:	0.009720943068614553

	Test 225: viscous
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133286:	0.013371014994878763

	Test 226: matricon
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104403:	0.02299112303418928
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133310:	0.0023529116609559367

	Test 227: lhx
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112853:	0.03947076915518796

	Test 228: 20921982
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734096:	0.12730712868363442

	Test 229: 2452
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107320:	0.026206043711702456
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14545:	0.025287997594413518
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124980:	0.016646606382905334

	Test 230: 7511987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124782:	0.025341398788858025
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112576:	0.017133900835965474
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114858:	0.012410342557557184
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=180267:	0.009996744901535718
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124416:	0.008669425901451429
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=78251:	0.008017300944262605

	Test 231: faulhab
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127728:	0.048714302114391685
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128386:	0.023916961580258567
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105213:	0.004712422103647385

	Test 232: zengel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13908:	0.022865144277837555
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109767:	0.01834236848661694

	Test 233: 3090
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130050:	0.044940623916621264
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128823:	0.04266788529201215
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105127:	0.03767968740309489
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115039:	0.03377874252284295
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129999:	0.032211051234339205
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131059:	0.03021484367229307
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130264:	0.024251404888194942
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102884:	0.023843818251418555
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130009:	0.023744053321496303
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130015:	0.023645119765990066
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122508:	0.022790476882881994
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130012:	0.02168921058191692
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130265:	0.019911679802939005
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113572:	0.01936801619057207
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130051:	0.018916095812792053
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108051:	0.016496595185574465
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113651:	0.012151667545690827
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131560:	0.011281965693514147
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122491:	0.010707224044976635
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118693:	0.0105676512920626

	Test 234: melkebeek
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126740:	0.024696191629885365

	Test 235: ili
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88723:	0.13823975452690568
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112002:	0.053759904538241095
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14953:	0.046591917266475616
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112365:	0.046051408733986804
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112103:	0.03008033587575672

	Test 236: 1579
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119553:	0.13992576402588391
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115938:	0.03251504668279019
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132615:	0.024689848725936117
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12879:	0.023334327619414136
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104415:	0.020170350993052897
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120160:	0.019768284195849185
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101499:	0.0154954519347672
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113900:	0.013967731321480293
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130027:	0.013431723573251928
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13649:	0.013020248452845962
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119523:	0.011876753578743722
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117332:	0.009950256760786964
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13651:	0.009612687468417778
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=324563:	0.009612687468417778
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128030:	0.009566324024036342
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124226:	0.009490037548565557
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12829:	0.009196682446600626
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=99:	0.0076481408007077175
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=92:	0.007589609110906384
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104210:	0.003388527074573237

	Test 237: 7531981
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11479:	0.025864596888097214
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133571:	0.02046502898104599
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109311:	0.013761579280148777

	Test 238: sanhi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101137:	0.014211959334179314

	Test 239: filtrag
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116209:	0.04473131948282296
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116158:	0.025436917503157176
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116001:	0.023513851575083438
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1169835:	0.019949069412097026
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=203588:	0.01786561568759603
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=175735:	0.01587042704938513
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108890:	0.013416727075194666
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127950:	0.008840479080554626
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127952:	0.005735566478079866

	Test 240: 6771987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112661:	0.034238907655815255
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117218:	0.018857469444954086
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133505:	0.018857469444954086
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115601:	0.012854399587044827
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=35343:	0.01078351663470524

	Test 241: westveer
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130496:	0.017934139159797708

	Test 242: schulthei
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10929:	0.0900337394053106
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112012:	0.03888717315353947
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112400:	0.026298514946568388
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112398:	0.020182915299838775

	Test 243: broderson
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=45013:	0.028787270762704566
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101976:	0.026057443362792927
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100695:	0.02561579178037271
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130186:	0.023859273027637965
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111361:	0.022473334052668995
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100624:	0.021964867229306195
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102016:	0.02091808602134242
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12695:	0.020492633424298166
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112047:	0.02026857055219146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122557:	0.019991461189173217
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100339:	0.019191513841803044
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100385:	0.01780109239801163
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123165:	0.017770187723709526
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112597:	0.016294681563795037
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100387:	0.015702147688747947
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115989:	0.011299676374145718
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112317:	0.010568753252041888
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112666:	0.00995935232317621
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103069:	0.006874162611723766
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112205:	0.004059991175398226

	Test 244: dischartg
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109721:	0.03896037127818122

	Test 245: r3fe5o12
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104879:	0.03064002080182388

	Test 246: bellami
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113858:	0.02106872108608545
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127052:	0.016141737313170146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101445:	0.015162426890404592
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109830:	0.009162629650585834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102808:	0.005294112530031698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109205:	0.0037826931386291205

	Test 247: makeup
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129576:	0.05122858867513448
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129222:	0.01780365749920593
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102121:	0.004266755101905343

	Test 248: diduch
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=203579:	0.023295892104479497

	Test 249: l22881990
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119180:	0.022153936609161873

	Test 250: decost
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14498:	0.06350293129326419
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102167:	0.06243565513707487
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124259:	0.05759568187063496
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14500:	0.05345210763533748
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=76586:	0.040823312974241265

	Test 251: brabec
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124997:	0.01480651847390111
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123286:	0.014677203902076648
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124995:	0.014241863108370985

	Test 252: 1722
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102878:	0.038323391976845395
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123176:	0.035110652529684705
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115060:	0.025383025854793705
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101090:	0.023360473993853968
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127468:	0.01624232402342755
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112117:	0.015389708589126892
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111801:	0.013927503497523386
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101089:	0.013356444128604431
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133176:	0.01211462597615154
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102901:	0.011610849450410585
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104847:	0.011407546639022072
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120072:	0.011105073811472245
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102628:	0.01064152263603874
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111812:	0.009691700780921231
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104191:	0.009472502378767926
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123482:	0.008951876293828008
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108193:	0.008790823047162437
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121699:	0.008699523698007932
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105832:	0.008473235509331423
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127342:	0.008281749961097946

	Test 253: 3278
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114770:	0.019564257639111068
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107283:	0.016963111783817146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103744:	0.012966567122708394
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169573:	0.011155920362330195
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169572:	0.008292235447892756

	Test 254: hdl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128844:	0.05256795262497126
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128849:	0.03750274668976608
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14759:	0.02643050215900794
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117851:	0.024503786681759513
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14819:	0.023475001744739075
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100562:	0.022638299675324193
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117889:	0.02261195021000602
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117849:	0.020365729990468998
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124704:	0.020034040576943444
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130781:	0.014171544832077505
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13299:	0.013487829949828153
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=75635:	0.013086064802386463
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130211:	0.012894026115558989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122550:	0.012681341148704407
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123412:	0.012375151825194441
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100256:	0.01227634821780766
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105590:	0.011496169078732034
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121725:	0.005292986624028948

	Test 255: lghtning
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14163:	0.01670758990117938

	Test 256: midadjust
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115645:	0.024429205774427146

	Test 257: pnu85
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128761:	0.017086590050166436

	Test 258: overbeek
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133528:	0.04539542136936758
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131391:	0.03693207659348309
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119875:	0.030166925382838522
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128841:	0.029045539404249723
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=37751:	0.02869984086573999
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133554:	0.02424671115485194
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132411:	0.023140014795086913
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133648:	0.02178415455318729
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101792:	0.021449013713907488
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133701:	0.020205592629043284
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11442:	0.019775686402893428
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100390:	0.018776914362343255
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11561:	0.018527387261182547
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11522:	0.018466038296741545
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117977:	0.01840509427596022
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119880:	0.01793165133638568
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13270:	0.017849239404212586
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119988:	0.017373032914691423
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106467:	0.0168481678719515
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11433:	0.016548200491441976

	Test 259: 7381970
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109709:	0.021990999567389084
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13834:	0.017592799653911268
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108274:	0.016564649024786583
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=79950:	0.014773876157242087

	Test 260: 13601989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127495:	0.0375935930694176
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110390:	0.01918569577335795

	Test 261: expran
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11172:	0.10716920696625686

	Test 262: 8141986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102972:	0.01800674788106212
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131182:	0.01414578160711904
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123381:	0.006293476849877797
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121755:	0.004216456115400221

	Test 263: wolak
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112531:	0.014565057000716766
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121718:	0.014339824160499497

	Test 264: kolski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130050:	0.028037143250233622
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118244:	0.020811885045691623
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128815:	0.012445298092649765
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130048:	0.012022399613773316
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125042:	0.00431215493982119

	Test 265: westernik
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115698:	0.021621185651323076
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100647:	0.009462332949445247

	Test 266: ayyangar
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108586:	0.013024216335069227

	Test 267: 1801979
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734721:	0.15668113687216684
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12905:	0.02684178838845886
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109789:	0.022838267408485338
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12911:	0.02223527684984546
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124420:	0.0154171370377647
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13741:	0.012339356933155996
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124161:	0.01153645357106708
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105601:	0.010445409124811122
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10021:	0.00980682516084887
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1586296:	0.008995045240992223

	Test 268: roma
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102366:	0.040706743880060646
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11156:	0.03431779304686727
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130593:	0.016968664854659428
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131455:	0.01693112356073319

	Test 269: joel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116169:	0.03972851195241354
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117029:	0.038111653907838564
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106699:	0.022840433700864925
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10028:	0.02128313140307868
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112333:	0.021214253955172277
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112690:	0.017574274724257998
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111292:	0.017250538084600614
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100628:	0.014312673519974308
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100289:	0.014127595845147055
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108410:	0.013488075045572496
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121722:	0.012753316093673606
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130407:	0.008224848773084359

	Test 270: danieiei
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125012:	0.00924213306394483

	Test 271: palm
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124645:	0.102936769264529
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118207:	0.03485810325221742
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105966:	0.02686212144930545
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131215:	0.025410114884478127
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111221:	0.024960378337850198
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108625:	0.02390273518794129
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128510:	0.02161320116610783
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105949:	0.021127511252262712
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11873:	0.02080854093923219
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105803:	0.02036478521427489
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109443:	0.02021880109087507
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105748:	0.018434789229915503
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111614:	0.017965113071191544
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103044:	0.01453877707307769
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129570:	0.014427226353846917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105740:	0.014173481166718956
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105741:	0.014032451503368518
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111845:	0.013997631524451971
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105808:	0.013928507418158381
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111844:	0.013560205539312847

	Test 272: dublon
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11501:	0.024696191629885365

	Test 273: biersack
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10203:	0.04465820424861338
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12749:	0.029987876282885316
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124613:	0.027739511827139886
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102369:	0.025634621592987752
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120132:	0.020352427510023804
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124143:	0.01945921752525787
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124117:	0.014044095906238145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101205:	0.012414980781114521
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101204:	0.012340935170093957
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101230:	0.012219469272750512
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124079:	0.011712246019919359
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124095:	0.01045032052282367
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121682:	0.010365083681582819
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101262:	0.009426183724775767
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123491:	0.004033457043896856
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108226:	0.0033902186731607103

	Test 274: natl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100791:	0.04027448333341056
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112084:	0.03707078642941537
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101837:	0.03547855526621033
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116715:	0.034243038969469855
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100570:	0.02969127320150936
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118637:	0.029581738665897115
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130008:	0.027891353599274422
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118671:	0.02586974111927102
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111966:	0.02487125988308863
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11956:	0.023519491693330445
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100811:	0.023519491693330445
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101683:	0.02293951154265456
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117345:	0.022629564980609834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100789:	0.022150632388427616
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=31218:	0.021945229308607615
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101302:	0.02174327934564497
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116494:	0.020828206574193132
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132322:	0.020080195656318016
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115282:	0.01956294168884495
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112297:	0.019471951262385205

	Test 275: 401961
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115075:	0.028157557605127108
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115047:	0.022558043308652968
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128329:	0.009074778565309536

	Test 276: egi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118102:	0.06719309107797575
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118098:	0.05306970250744581

	Test 277: raudi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118138:	0.022843551749490338
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102807:	0.005012898513033993

	Test 278: drawn
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10209:	0.0770610744482753
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734421:	0.07533270944694817
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100985:	0.0740558838631016
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132962:	0.06332314707134774
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121457:	0.059853385587986224
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132093:	0.05749075194635519
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10198:	0.05461621434903743
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118168:	0.048721631524046086
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110123:	0.046310407512493545
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10679:	0.04413431462548479
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10428:	0.043692971479229945
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114211:	0.04242036065944654
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114278:	0.04242036065944654
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14484:	0.03972088316293631
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119077:	0.03866634644179641
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124267:	0.037993888242808645
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119132:	0.03552274104002434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10861:	0.03387052052653484
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114299:	0.029723109849816288
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128849:	0.026642055780018256

	Test 279: scheinbar
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102932:	0.0048310027453436905

	Test 280: sococo
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131813:	0.021182176805610933
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129487:	0.01662505510241177

	Test 281: mcilrath
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115022:	0.04045209170307519
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115030:	0.027349585107975076
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128102:	0.023304308854062365
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110246:	0.016699631459938698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115024:	0.012140100592317245

	Test 282: quimbi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104139:	0.025976259520294052
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119949:	0.01895437897049662
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104140:	0.01636357591250162
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122380:	0.01629174001987924
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11458:	0.015729955881262712
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104149:	0.012671353348794963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104126:	0.012025537448768506
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125033:	0.0021060421078329577

	Test 283: unstop
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104324:	0.037350438580735716

	Test 284: 100mb
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=164084:	0.03101730954939783
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112053:	0.027100447933944862
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102121:	0.004266755101905343

	Test 285: 6241959
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129537:	0.02992982164416571

	Test 286: chirk
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107124:	0.02366179616894776

	Test 287: pajkov
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117440:	0.04560534241208037
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104047:	0.02745321599148259

	Test 288: 5621991
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126650:	0.03161279417201025
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127215:	0.029700276375127073

	Test 289: 8461981
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110294:	0.0182233994688267

	Test 290: jage74
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128728:	0.022045868625702545

	Test 291: 6381975
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118668:	0.021168164254187456

	Test 292: lsfc
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112557:	0.11003028824632442

	Test 293: lpiss
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102252:	0.030608058251414643

	Test 294: 451939
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113045:	0.014123134588340695

	Test 295: hajra
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13861:	0.042837943775061824

	Test 296: 4701972
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106316:	0.03364589510443154
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110079:	0.032676671788666026
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119776:	0.02106215184256192

	Test 297: 3322
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119017:	0.013592189679004578

	Test 298: 8411989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169511:	0.030829223905858547
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106609:	0.0276202340569216
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131282:	0.017606262941497416
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123478:	0.01336302690883437
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133800:	0.008679723085644754

	Test 299: 4711987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13874:	0.022089471755748113
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11664:	0.02098843889564852
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113462:	0.019991955149861053
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114945:	0.016195405974767246
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105499:	0.014395916422015329
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122467:	0.014153968246855409
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12588:	0.013834268758733417
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129567:	0.01111763842492273
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=57791:	0.008400609582921664
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125094:	0.006343963169023705

	Test 300: 891943
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103503:	0.02226306930181784

	Test 301: cocouni
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131260:	0.023600016022292544

	Test 302: cmac
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118387:	0.07536504838578965
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132029:	0.0434977285436502
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105424:	0.03584327960156029
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128485:	0.03474070700375071
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126849:	0.026792313162104883
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128498:	0.019570652676164296
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=194418:	0.018314271280934324
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131985:	0.015582902877671822
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119327:	0.015104655219022047
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128486:	0.012646510044191907
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105392:	0.010235563588626725
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125872:	0.0101650949924916
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128525:	0.0098761207201298
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118652:	0.009449472305020192
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100184:	0.009434377301338052
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88586:	0.003939906731579466

	Test 303: scheibl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120573:	0.007887265389649253

	Test 304: 801923
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127527:	0.00968789510882963

	Test 305: felicahi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119244:	0.027225319688367604

	Test 306: 4541965
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128122:	0.02378633193825801

	Test 307: insecur
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119076:	0.04398739923475486
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132979:	0.03371622987029433
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128187:	0.0212207580972779
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113657:	0.01566532378407543
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130775:	0.010782625461766206
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130785:	0.009973119045717693
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130780:	0.009811074275403224
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128180:	0.008429057467573582
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13048:	0.008429057467573582
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113410:	0.007454654640233427
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129455:	0.007421337747986573

	Test 308: 9571986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11594:	0.028135543564159565
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11658:	0.025173907399511187
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105721:	0.016528872245035423
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109143:	0.005711095410038359

	Test 309: dorato
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=70584:	0.030295138582853688
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112340:	0.02497749298875225
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=83542:	0.020733611334643506
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128514:	0.011842417376971018
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88586:	0.004732226823752929
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=70142:	0.0037023006309006468

	Test 310: severi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103780:	0.0256807645954745
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116946:	0.020033685469768067
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108101:	0.015976759602194992
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108223:	0.007281510798716842

	Test 311: teonant
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14973:	0.02833481547504089

	Test 312: planetari
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119606:	0.0535474685862456
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101007:	0.045562319761980906
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131935:	0.0338651971774356
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131592:	0.02941265321038002
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110262:	0.02864619970652647
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120453:	0.026015301750381786
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100111:	0.02556506776134775
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106280:	0.024500492702197278
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110268:	0.022292293789123705
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126324:	0.020943969568007353
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120877:	0.02061152560661041
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125939:	0.020605692690756083
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131867:	0.019380986764424714
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100583:	0.018791417328853904
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132014:	0.01772731895176049
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125979:	0.01678317425554127
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=262378:	0.01593283574498719
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123292:	0.015835684307517753
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131836:	0.014968600728719953
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131967:	0.01407616382890467

	Test 313: 3791
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103628:	0.015569473028717341
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117003:	0.012911270316497308
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131058:	0.011608817609131352

	Test 314: codelength
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133258:	0.018297178414044622

	Test 315: penafiel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109076:	0.03990166454595902
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117516:	0.024659724362254175
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103975:	0.023015742738103896

	Test 316: thredii
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14116:	0.052551198468244444

	Test 317: dowl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110143:	0.040259691066266104
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111494:	0.02656137294413407
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132057:	0.026234798686624226
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118706:	0.020193346623142937
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11435:	0.01910833098369048
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14392:	0.01871722479396582
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118668:	0.014991313535213843
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112501:	0.01488672297566584
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113886:	0.014417321800757457
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130323:	0.01181049977774227
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111508:	0.011451325365896799
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130596:	0.009955351290103127
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118702:	0.009728405592000472
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103525:	0.006709948511044351

	Test 318: marron
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100836:	0.10055655052989812
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106017:	0.09624698407861677
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120564:	0.02584818509583919
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13280:	0.02092325740839495
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118190:	0.017499451650657596
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13264:	0.013805919847342571
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103691:	0.013638236610330312
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107412:	0.009652276340262427
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130362:	0.009031218345178518
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105415:	0.006839887193404238

	Test 319: polatin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101373:	0.012588866485429031

	Test 320: scheuer
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=90332:	0.033017894125848865
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114091:	0.027017610768406947
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=81847:	0.02382541223853867
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125051:	0.01852697741082241
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114040:	0.018482196421173904

	Test 321: si1tix02
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124863:	0.015242506132441895

	Test 322: malglnov
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119990:	0.031494098036717925

	Test 323: epsec
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111879:	0.030683006108127603
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111718:	0.02190492824517246

	Test 324: orthant
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106152:	0.014578719575061362

	Test 325: 681974
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11898:	0.03228145048763587

	Test 326: 17401986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88925:	0.008826959117712934

	Test 327: 4557
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116978:	0.019313688325935992

	Test 328: sbare
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113048:	0.020683766902833054

	Test 329: 15761980
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105970:	0.01705435120101518

	Test 330: formed
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12973:	0.017315720568080544

	Test 331: matsuya
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100434:	0.03197957407107194
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104166:	0.02970614463473981
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112236:	0.029566021310991036
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100344:	0.02527417950778266
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104168:	0.0217638767983684
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112231:	0.01916818507012263
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116045:	0.018822812366156457
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112239:	0.018011484246925575
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100337:	0.01726720803837493
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112631:	0.015325174860464792
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112047:	0.012411874292930891
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100257:	0.0116940233543472
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104165:	0.010446660863216833
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104167:	0.00967283413260818
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130153:	0.008324032560332139
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112241:	0.003621026295742403

	Test 332: 6011966
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115920:	0.02449540958411394

	Test 333: smock
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11885:	0.008707905719208134

	Test 334: quanten
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110028:	0.048335861692716815

	Test 335: manousiouthaki
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109647:	0.04601834530777021
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119650:	0.028032482965023447
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14431:	0.017714971873730095

	Test 336: klinkovski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=58300:	0.031384743529645986

	Test 337: cd1
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105991:	0.15670245198183197
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105960:	0.05638742910848224
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111675:	0.047584395049160934
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111733:	0.01791315153738798

	Test 338: delanc
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119006:	0.011284402167962601

	Test 339: wenquan
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127522:	0.009195123231473087

	Test 340: cot
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123191:	0.03506629269500297
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111915:	0.03351717936309521

	Test 341: 9291985
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114124:	0.022020521534065193
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125042:	0.004843747917243591

	Test 342: fe40ni40b20
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104395:	0.040711110543466864
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104391:	0.02231491353318371

	Test 343: kryptographisch
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111375:	0.026429257709175567

	Test 344: benjacob
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119817:	0.021520966991757248

	Test 345: modellin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111921:	0.03689308627158385

	Test 346: khotanzard
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116049:	0.019997358709154964

	Test 347: valu
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88711:	0.06674283805741045
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=48:	0.04456688094977592
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121411:	0.04085297420396126
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122769:	0.04085297420396126
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=49:	0.04075967659529724
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130943:	0.035419618054760356
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122756:	0.034604872266884835
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14276:	0.032595339516409756
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133076:	0.03206911364417492
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126460:	0.031146657760124874
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133140:	0.029297708761344986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124250:	0.02894041963010907
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121429:	0.028031991984112388
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121455:	0.027235316135974172
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102609:	0.02695383844626191
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121407:	0.025517359243752084
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118381:	0.025517359243752084
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122770:	0.02524589797520153
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108798:	0.025028564271528917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130881:	0.025028564271528917

	Test 348: aldefeld
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106483:	0.07510792611342017
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115891:	0.019703303336590185
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106512:	0.014786650362468984

	Test 349: cacopardi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105562:	0.011412634010780359

	Test 350: poupon
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12834:	0.015242506132441895

	Test 351: nebot
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112415:	0.04710209972332571
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101931:	0.025679315881263716

	Test 352: zgierski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113886:	0.039447188195334035

	Test 353: curr
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124106:	0.01187166096928977
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108121:	0.007295260193540828

	Test 354: picku
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11631:	0.032987263483836786
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104566:	0.02419065988814698

	Test 355: 81974
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119819:	0.02436335885859311

	Test 356: lekko
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129842:	0.020923162353097324

	Test 357: shipboard
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103932:	0.09974408943476329
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111558:	0.08916517085834899
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13378:	0.07418595774453862
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103907:	0.05363558948586441
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14090:	0.050242341752915046
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10840:	0.04522882241715519
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128670:	0.04522882241715519
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10256:	0.038678441239498235
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14144:	0.032418346703625686
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103906:	0.027764227622412097
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110913:	0.024858121966756398
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111547:	0.024174025774686393
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110903:	0.02407027459110405
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117390:	0.021163675395197146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112745:	0.01758110965431738
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13648:	0.016592822425228533
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=90902:	0.01639875432668785
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128669:	0.01602392565636355
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=90899:	0.01084791872287668
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110900:	0.010068894039007618

	Test 358: bonzon
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13081:	0.02341659620864778

	Test 359: svantesson
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108215:	0.017592799653911268
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105738:	0.012728321829564335
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105796:	0.011938951403200315
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129090:	0.005815249125722949

	Test 360: stalick
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133307:	0.015530594736319663

	Test 361: shuguang
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10816:	0.05649253835336278

	Test 362: uid
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130645:	0.024539391504563343

	Test 363: zemmrich
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105824:	0.04909280977300416
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105817:	0.033925925452889055

	Test 364: weakturbul
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103303:	0.00883558762124931

	Test 365: harashima
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117116:	0.05279088748992015
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106957:	0.03387948743169003
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115895:	0.03382498050107963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117117:	0.022479061942036936
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14906:	0.02247282583408585
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=687269:	0.02215428788673754
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100722:	0.015911384205959878
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114769:	0.01517982631143299
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101861:	0.015050084206207065
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120349:	0.014657895125062395
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125959:	0.01443327747644448
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131965:	0.01354507578558636
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12251:	0.013510433648027315
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13365:	0.013140745165121094
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119688:	0.012102714380876891
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13750:	0.01187096529523299
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109649:	0.011817851356551856
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100068:	0.011713036710374014
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88902:	0.011434154883936537
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120772:	0.011393865836899579

	Test 366: 1431975
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109750:	0.016139087895621636
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101214:	0.01225375192074976
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117456:	0.011028376728674783

	Test 367: 6021988
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118180:	0.021480841877638625
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111593:	0.01951613073029363
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115629:	0.017830893814864374
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101664:	0.0159236091530754
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111608:	0.015689438430236055
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111594:	0.01535081745692161
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101964:	0.011745487852360204
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=60377:	0.010740420938819313
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130786:	0.010128624809392897
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130785:	0.009611547867171638
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106704:	0.009210490474152965
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108155:	0.0077217019053514
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108148:	0.007539800800396125
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106722:	0.0074781435508601765

	Test 368: pigott
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11669:	0.016832041222603435

	Test 369: ridel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130312:	0.021727899366677992

	Test 370: salon
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734353:	0.05521528282788066
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104969:	0.04035148566166007
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734919:	0.035073858903244944
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104931:	0.03223551193997657
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104983:	0.03133002003155026
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123871:	0.030756506986411913
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106400:	0.02966352960434014
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105003:	0.026430064292018704
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123869:	0.02304439489923945
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124027:	0.022129934784190265
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124034:	0.02035307870662754
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104866:	0.020132648251321106
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123878:	0.01991694130577124
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104485:	0.019775686402893428
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124021:	0.01801955657410011
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106501:	0.01715921097112599
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104995:	0.017054261668550296
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123957:	0.015979207924400992
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106330:	0.0153629299328263
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131088:	0.015113126194081157

	Test 371: laurel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128855:	0.0450168697026553
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123283:	0.011854923716831191
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108288:	0.007158903507438167
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133228:	0.006490982060603394

	Test 372: nonfli
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104756:	0.052530222739768456

	Test 373: wimp
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115249:	0.03642399653507268
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108340:	0.022622311238307248
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102121:	0.004266755101905343

	Test 374: inject
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107977:	0.0849335471665965
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=695667:	0.08355363159178142
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132916:	0.0835255453712873
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14252:	0.06852385106891003
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121400:	0.06265037812014632
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126468:	0.06007570504671564
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10978:	0.056038629058372945
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14262:	0.052860460802963756
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102226:	0.047393703293145246
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121431:	0.04612604744384522
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132824:	0.04544144876044253
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115436:	0.043421054142675664
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14493:	0.04262785603461667
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14265:	0.04177681579589071
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106053:	0.0398486550668496
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=107960:	0.03700232256207463
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124249:	0.036977870875252894
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101001:	0.035654686735042615
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132715:	0.03500219701817871
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115227:	0.03440346214343149

	Test 375: 6901987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103662:	0.01639641976701514
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120808:	0.009648297874463245

	Test 376: 71966
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115327:	0.04051348379325586
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123943:	0.02632737432621674

	Test 377: tartara
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13616:	0.04398323054655502
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13773:	0.03451257168387331
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116582:	0.030988185157800132
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13434:	0.019911099048388448
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116839:	0.01582454160177597

	Test 378: lithodens
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12844:	0.008143068591475715

	Test 379: oppos
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734748:	0.19685923744577238
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106050:	0.0620241433048324
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114371:	0.055898301990774876
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127696:	0.053901934062532915
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10173:	0.05264840071224145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132177:	0.041923726493081154
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10857:	0.041539105149107934
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114579:	0.041539105149107934
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103327:	0.039371847489154475
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114250:	0.03166267455421514
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124643:	0.03080110517859024
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115130:	0.03059298960305922
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132461:	0.030185083075018434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127013:	0.02998518186260109
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128804:	0.028122748206538914
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102989:	0.027777683811366655
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122748:	0.02760830769056564
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117376:	0.026791493853566658
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110408:	0.025015262216866105
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116160:	0.024212633482635106

	Test 380: vehich
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126301:	0.023356088208108642

	Test 381: litva
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132890:	0.06555378174429834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115484:	0.06519853555324276
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118958:	0.062209201043058625
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115316:	0.04119257906905233
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103858:	0.04086530234428313
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115233:	0.03908013911679324
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115188:	0.03717379086719357
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127532:	0.03609937378303919
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115469:	0.028224544917684006
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115202:	0.026391782260691537
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115306:	0.025723635874344918
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115471:	0.021466555289506146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115336:	0.021095161599376282
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121599:	0.019415610516623393
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123350:	0.00946661755003066
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119568:	0.0034404637145709622

	Test 382: taurin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123294:	0.008113829566012606

	Test 383: beamish
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103902:	0.046116357839479816

	Test 384: trasistor
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112067:	0.027897549804129767

	Test 385: toolei
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130496:	0.03093722170929253
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11964:	0.028037143250233622
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122388:	0.026253862054105688
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130513:	0.017738748283826433
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124992:	0.010659745999012784

	Test 386: cryptorel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113336:	0.07231044909230436

	Test 387: 2851970
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10060:	0.02862207371934153
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13466:	0.02721652545633815
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10062:	0.025296687561077783
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131000:	0.019793836695518655
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110410:	0.01960289936405063
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13672:	0.018643736092415125
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13604:	0.016214100271861025
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103957:	0.014446686498151055
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117844:	0.013638706268947977
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13555:	0.013110756348859668
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117266:	0.012998937531385384
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13704:	0.012492831357007675
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13007:	0.011837867382950963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116519:	0.011289817967073602
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13468:	0.011084548549490446
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111451:	0.010621083104912448
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131003:	0.010280778587217109
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116749:	0.008659803554289412
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117386:	0.00707250777519692

	Test 388: 7171977
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112495:	0.02561429433756724
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122516:	0.015723626227021475
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101131:	0.009803001536599808

	Test 389: 10791976
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13882:	0.02433171329857349
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127475:	0.013771910332360903

	Test 390: 14561987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106631:	0.01090326433840536

	Test 391: mesplai
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131826:	0.016404366853971043

	Test 392: trosino
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124719:	0.02248459237944787

	Test 393: itzkan
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14378:	0.01888184991269391
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101370:	0.009356252983644292

	Test 394: mandatori
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116416:	0.06236075542678699
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111164:	0.0515893522167056
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113437:	0.046159943170173
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11201:	0.04399092049486524
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114487:	0.03569074681658878
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13450:	0.035467679648985104
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113422:	0.03338134555198598
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118337:	0.03318613300489834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116657:	0.031526826354653426
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128191:	0.029556399707487583
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10431:	0.029403257740091275
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114436:	0.029403257740091275
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131568:	0.02404588450778651
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130409:	0.02234184544817959
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106636:	0.021826264399375447
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113428:	0.019501129703909333
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128570:	0.013773856174363146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130788:	0.013543744018705528
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128726:	0.012381856040965459
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130778:	0.011105340007510012

	Test 395: rottimizzazion
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131008:	0.01923150241816605

	Test 396: 8541980
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127867:	0.03676125576224928
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126551:	0.01640584967902034
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=68574:	0.013412890615955818

	Test 397: 13511986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124115:	0.010608927390302869

	Test 398: severgin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119938:	0.06451188544588932
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119939:	0.05586348091211962
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119968:	0.0321638223433416
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119940:	0.023364286041861353

	Test 399: bullignton
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101483:	0.03095481553608919

	Test 400: mazzullo
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124190:	0.0015064676894230074

	Test 401: lyraerski
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106126:	0.019438292766748484

	Test 402: 651965
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132447:	0.030570614144361567
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122590:	0.015426576083938461

	Test 403: tewarson
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124026:	0.018569654473313192
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14542:	0.012804346586291768
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14395:	0.012401412602807062
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12829:	0.010963845454104544
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12800:	0.0076687654149250155
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106684:	0.006146974011096741
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125090:	0.0044924686566216844

	Test 404: 775
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109438:	0.034201906928377615
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111705:	0.030758761935587926
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120224:	0.027608768243389162
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132528:	0.02246595847256177
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129438:	0.020551818513016146
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11158:	0.020369135681789337
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102037:	0.019669766216320175
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116754:	0.019502363950649363
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102371:	0.018783014460666395
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130162:	0.017559599725680462
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100565:	0.017426066647918632
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112701:	0.01736005881970682
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=66255:	0.016545326817337908
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109443:	0.01642672232402366
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119414:	0.01608089659088632
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130348:	0.015803639753112417
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100330:	0.015327944911045487
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126152:	0.015175680557624506
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133782:	0.014928519636490556
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12654:	0.01488005041689156

	Test 405: donaho
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109086:	0.03615522454615218

	Test 406: smakhtin
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119942:	0.039931950533065586
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119823:	0.02745321599148259

	Test 407: coursework
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101403:	0.12216048068685914
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11247:	0.06508550200529381
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115398:	0.01995083227297951

	Test 408: sumral
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13884:	0.0580623226039651
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103574:	0.04223633640769066

	Test 409: liwschitz
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121940:	0.10877303074857321
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105278:	0.03892368257179336
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106473:	0.018509163740433203

	Test 410: vx
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112318:	0.02666504477160767
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130007:	0.01113954563238923
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120333:	0.010176685970015161
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=718669:	0.007971737343178542

	Test 411: chariti
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106637:	0.028058060935144326
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12670:	0.019509659077753917
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126644:	0.006445155231043705

	Test 412: demoy
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124102:	0.023217635218262703
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124097:	0.014204707056611528
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127247:	0.011958480790129284

	Test 413: mnf2
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102172:	0.03043369069541429

	Test 414: 12481981
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11559:	0.029346773170578065

	Test 415: ryll
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113742:	0.010389432340848326

	Test 416: 431986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734448:	0.10546286054710037
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119922:	0.04440541496720015
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125075:	0.04188595879884837
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=163860:	0.026603244101971263
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111854:	0.02502508555354924
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111637:	0.02271507765629854
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118237:	0.018116319603182884
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125987:	0.01682598344911003
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105719:	0.013929057053390615
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109939:	0.013798878950087898
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123396:	0.013734698117761908
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118130:	0.01289502225030048
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102825:	0.012152099157690577
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131824:	0.011811840381275241
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126809:	0.010325035298317518
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118227:	0.009942626583565017
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118240:	0.009344810428224083
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130400:	0.008157348329609973
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126805:	0.007980973230591378
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=129553:	0.0077302620296303935

	Test 417: naot
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101094:	0.021316588392980573
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101107:	0.021254076403558343
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101098:	0.02041588747496731
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101108:	0.014821349802890378
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101093:	0.013372029619212905
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124552:	0.010309587558482781

	Test 418: fsrsl
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128292:	0.03712123215856646

	Test 419: uekawa
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=665879:	0.3347705976495572

	Test 420: sakairi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113006:	0.02255615584165056
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113053:	0.01787104424284948

	Test 421: mcfadden
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10981:	0.04518221661659643
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111556:	0.0360081624812469
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103780:	0.023804053720824295
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128062:	0.018142219971369923
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115693:	0.017175806316720676
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124939:	0.007761059090596979
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11911:	0.005277982149408958

	Test 422: sedghinisab
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101000:	0.02254066368213976

	Test 423: internati
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110460:	0.0384630048363321

	Test 424: cffect
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108102:	0.015305735698902803
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108211:	0.009506668135964473
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108212:	0.006372079808036137
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108208:	0.0026618670780700526

	Test 425: grunen
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126608:	0.007476266448749416

	Test 426: 15211987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105718:	0.020802369527289265
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111880:	0.01705194232885971
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105685:	0.01669084237366033
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105759:	0.015693823028331062
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111887:	0.014595901252686502
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105705:	0.01418721601761128
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130110:	0.012667157158581499

	Test 427: radiofrequ
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10821:	0.10446380563618786
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122751:	0.060656403272625205
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10831:	0.047403743734068436
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14168:	0.043729034917473986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110081:	0.029689713180811286
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123985:	0.029478766330578932
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102354:	0.025876355524560295
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102210:	0.02574425954476435
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14522:	0.02081566606772747
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117865:	0.020584310972214602
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106812:	0.020091335937105978
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117925:	0.01825581069370273
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102272:	0.018196920981787563
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121667:	0.017250903683040195
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104944:	0.015497377759214682
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102304:	0.015204974405267236
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133772:	0.014353805354590698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102388:	0.014173481166718956
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106532:	0.01221005520422975
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14163:	0.010427071172558493

	Test 428: cynar
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116713:	0.015268253609016966

	Test 429: leitenden
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105058:	0.01838277017931874
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104229:	0.015957509868854126

	Test 430: typu
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11669:	0.016832041222603435

	Test 431: holten
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14529:	0.030325889638007794
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117003:	0.020454988068208807
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131058:	0.01839154628939827
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131065:	0.01407167227521195
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131057:	0.010690421527067496

	Test 432: clariti
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112838:	0.05535081070373319
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111192:	0.05189138503474987
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118521:	0.04518433526835362
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111146:	0.035710200454021415
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111193:	0.03337737328868333
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102111:	0.02900479163514403
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112835:	0.01908648644956317
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120886:	0.01908648644956317
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109306:	0.012165013341479822
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119574:	0.008637317665081903
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127527:	0.007119075331669864

	Test 433: 11101986
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110383:	0.02745318202126286
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115653:	0.02157035730242082
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112009:	0.019482903369928483
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116638:	0.018256020286179838
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=61532:	0.008161756817132201
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127952:	0.0060751383517295855

	Test 434: superelectron
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11404:	0.015165782108285309

	Test 435: supercoduct
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133800:	0.010559352963245379

	Test 436: spink
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=693539:	0.022683010573272763
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13471:	0.021042340306973762
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12819:	0.019832237669512014
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106713:	0.01809763962261592
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13474:	0.01686818040912299
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106697:	0.01673178002845623
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106718:	0.015365075224151634
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=693555:	0.014369190718882548
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106706:	0.013856005336065314
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106714:	0.011778919147167477
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106716:	0.011431842339884457
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100886:	0.011144506984842479
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106704:	0.008931640849722677
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106683:	0.008669679316420754
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106722:	0.007251741110464089
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122321:	0.0062701923136942025

	Test 437: garen
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106871:	0.02005159405213597
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128468:	0.016966733428730438
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88592:	0.013761579280148777

	Test 438: palak
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119364:	0.06025870757692029

	Test 439: 53721985
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13922:	0.02666314494553995

	Test 440: dawi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116737:	0.05348405997951505

	Test 441: smelli
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130008:	0.028694622655676332

	Test 442: nussberg
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130481:	0.020496159039768806

	Test 443: starzhinskii
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124593:	0.012467318809017991

	Test 444: brusewitz
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120779:	0.02008623585897343

	Test 445: 6201980
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14445:	0.031261540333251354
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109654:	0.025127946976727357
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13670:	0.01941425732187248

	Test 446: ckmann
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14381:	0.031384743529645986

	Test 447: chizech
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109637:	0.025145206200239203

	Test 448: sc2avg8
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116527:	0.03263106908497489

	Test 449: 9071989
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133860:	0.022096463578089618
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104950:	0.021191929981325717
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105413:	0.009996744901535718
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106222:	0.00850661978123638
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124947:	0.007776437825765445
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106815:	0.006843852741844566

	Test 450: vantress
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106694:	0.025389904877915856

	Test 451: r1131988
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108227:	0.010144563565138097

	Test 452: ramsoy
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113008:	0.016676764089553587

	Test 453: seino
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13580:	0.02527157469833983
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124870:	0.0223790450641925
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117073:	0.015943869015690795
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124863:	0.01252924614049226
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119517:	0.009105199707490085

	Test 454: 1261964
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108187:	0.015746750304548505
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119549:	0.0034963458992085077

	Test 455: reissner
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=62557:	0.01834236848661694
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113307:	0.017947908949270338

	Test 456: 6158
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118719:	0.011721597839059983
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118988:	0.0057202040174165235

	Test 457: decod
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=665849:	0.15033254079262415
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109499:	0.1141133020723344
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10761:	0.09680223499311912
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100856:	0.07334062710204334
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132792:	0.07211828331700929
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100846:	0.07057006838683838
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104063:	0.06556207574273572
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105309:	0.06351255556272314
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100828:	0.06181567141457939
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122018:	0.06009856943084107
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133038:	0.0570566510361672
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109050:	0.0564560547094707
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132730:	0.05594991563822481
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114352:	0.054051280325345924
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13642:	0.0534052104661753
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11128:	0.05301918788818646
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13609:	0.05077409425879
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14280:	0.04646642169953837
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=689146:	0.045636664169189475
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103985:	0.04446318988764096

	Test 458: thallium
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109315:	0.042181080109781915
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109319:	0.037909733810580326
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127680:	0.03641763168775879
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130473:	0.024877888313448393
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106667:	0.020703174178657396
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102638:	0.015950359051545477
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108582:	0.015774905101978477
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109314:	0.014532035721557594
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108112:	0.01377067621906141
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102790:	0.012777616826878136
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109750:	0.012287249715788534
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=163980:	0.012262326288373142
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133404:	0.01158108593901908
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126920:	0.009611012496292462
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126915:	0.0077976627152820405
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133314:	0.007266017860778797
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133310:	0.001704349269852822

	Test 459: nagakubo
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734746:	0.16204961723767028
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123503:	0.028058060935144326
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127484:	0.01863950996395738

	Test 460: aguiar
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113617:	0.027557335782128184

	Test 461: vaillancourt
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123444:	0.022434886186587923
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105062:	0.021677344575092745

	Test 462: 3631976
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117003:	0.014697245750468364

	Test 463: daum
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11496:	0.06851064375427059
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122242:	0.05256795262497126
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11326:	0.030538468770232047
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133528:	0.029569473351546336
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119878:	0.027843897996388044
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101929:	0.022949442004185215
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133597:	0.02270045063841704
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119882:	0.019776368029330024
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119875:	0.019650001460452517
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119881:	0.016804509445687534
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114744:	0.016667887417673815
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126217:	0.015531440548286963
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124095:	0.010354293698857975
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133551:	0.009984497495327333
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124190:	0.0010250750761869396

	Test 464: absrtact
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12315:	0.019606954743032635

	Test 465: 4455
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108225:	0.007414935304789208

	Test 466: implementacion
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113707:	0.03750987530810618

	Test 467: crisanti
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102366:	0.04223633640769066
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118557:	0.029628474793454644
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118648:	0.0169966103341368

	Test 468: twolevel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104047:	0.05034220107140566

	Test 469: nitto
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122254:	0.032223079773786516
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104557:	0.019454027182775543

	Test 470: wachman
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128307:	0.023356088208108642

	Test 471: toivonen
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126400:	0.07784736514358671
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126576:	0.011215298368143847
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14436:	0.0096598920251166

	Test 472: leoned
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106172:	0.028236216099091

	Test 473: 23751966
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111603:	0.029442365265596234

	Test 474: solidu
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=62574:	0.014101101617064031

	Test 475: reappreci
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113661:	0.012839213262127903

	Test 476: leas
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117576:	0.058128142886230375
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13586:	0.056498381870728594
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117081:	0.04760099889896031
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11240:	0.04722911609506218
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10266:	0.04084680310924297
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114490:	0.03007625303566149
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116186:	0.027478758455308904
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112614:	0.027231202072828645
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13537:	0.026057443362792927
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112201:	0.023800499449480154
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13457:	0.021639805769253038
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116704:	0.014816977598450881
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120354:	0.013665725138660463
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=115798:	0.013345092406551786
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117277:	0.012387964877393359
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122692:	0.01158108593901908
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116555:	0.011342076660727878
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101698:	0.011342076660727878
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116822:	0.011278594888373059
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=116699:	0.010951679094507172

	Test 477: fienberg
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=87280:	0.02046319448143411
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120076:	0.017039552027137004
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120082:	0.012030956431281582

	Test 478: 1681944
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101958:	0.023619962498306793
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113797:	0.01414578160711904
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=101370:	0.008579448261716818
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103273:	0.0046352924587834046

	Test 479: huntington
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127858:	0.04023234241114462
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122593:	0.03267697294426301
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127856:	0.025970877750477687
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117774:	0.022895379069500066
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105723:	0.017985000612733903
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14178:	0.01757625059880813
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128093:	0.012654900431141855
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132049:	0.009182315616263878

	Test 480: pliam
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100357:	0.06365148611260231

	Test 481: kashorda
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114209:	0.039129030894104085

	Test 482: masuo
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=734739:	0.08503186499390446
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169509:	0.06430981386093615
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104584:	0.023840709811375083
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124471:	0.01642246319624764

	Test 483: 4061969
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=133251:	0.01673852988247786

	Test 484: srain
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108212:	0.0075260667248443335

	Test 485: ddb
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132459:	0.08757275779364156
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105475:	0.016962962726444528

	Test 486: cornei
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110064:	0.050681244036102
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110063:	0.03270456345919402
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102645:	0.017314180654867423
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131105:	0.010979724317720806

	Test 487: motricit
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109426:	0.03323090491374281

	Test 488: fonda
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102899:	0.01598487547171687
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104149:	0.015455143817427236

	Test 489: kral
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122676:	0.021830241125341553
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122307:	0.02094693657113698
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122304:	0.015067858739320988
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=122285:	0.010802219474021877
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=163884:	0.007669460374194069
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=16671:	0.0062425840255068005

	Test 490: zeitvariantem
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=97755:	0.016198577305623733

	Test 491: banik
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118657:	0.005663412366251908

	Test 492: bcjczy
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128515:	0.005989931170668021

	Test 493: cortesi
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119510:	0.00813573909679392

	Test 494: acsr
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127052:	0.045063847993834574
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169603:	0.029010215892408632
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=169596:	0.013035323837434163

	Test 495: 14001985
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119575:	0.01704424910790958
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11787:	0.011665957087578355
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=125884:	0.009542229238717458
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=119569:	0.0053108035041300496

	Test 496: stengel
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100946:	0.02486077689084249
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=100184:	0.02170783201574719
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128484:	0.020621911831556237
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126261:	0.01808737518186776
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118652:	0.01754176417417846
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88586:	0.017038924667073876
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131634:	0.015716699793953053
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128512:	0.014231385307931117
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=131940:	0.011709367658424336
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126172:	0.007672133074773291
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=105079:	0.007540304407745212
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88585:	0.005859982185618695

	Test 497: 5411983
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103301:	0.009667172338543363

	Test 498: 3681970
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14512:	0.018260214417248573

	Test 499: mazzetti
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=120635:	0.08092667291044577
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104393:	0.0578612285216882
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10646:	0.05162331354464767
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109724:	0.05031396143495879
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13860:	0.04882129551635584
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123445:	0.040843220132956375
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117332:	0.010704499798555703
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=103673:	0.00837865298368627
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=123442:	0.007902828246341125

	Mean Search Time:	21 ms


## Multiple Term Query (at most 20 results per query):

	> computer
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11956:	0.03504502607092694
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032959:	0.030962993747842924
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10836:	0.03064378762673114
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13243:	0.03013533642814007
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=898:	0.030024721210029505
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10136:	0.027270159631127715
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=906:	0.02691332050439639
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110003:	0.02477039499827434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102134:	0.02477039499827434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14831:	0.024550199679620122
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130606:	0.02404452362322484
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12784:	0.023965671115819643
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111056:	0.02351771464636507
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124538:	0.023222245310882194
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112066:	0.022864979998407083
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113619:	0.021786973741654222
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109387:	0.02114618039631145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=4287:	0.020084104052654872
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126910:	0.018617150836880127
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109386:	0.018234749762036685

	> network
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=695137:	0.022552059630462255
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118384:	0.02036477662887303
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=106019:	0.017455522824748312
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12961:	0.017221072872899715
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88762:	0.017182521623209338
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88656:	0.017182521623209338
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88847:	0.017182521623209338
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10292:	0.016558723916249726
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130870:	0.01651407895709869
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88786:	0.01640149791306346
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=108028:	0.01577600982508803
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117873:	0.015655520793545194
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126457:	0.015375957922231887
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118351:	0.015273582471654773
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=126484:	0.015106204274473433
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=117076:	0.015106204274473433
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=127697:	0.014901056069907095
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=132676:	0.014814100240926765
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13789:	0.014561389884379041
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=88716:	0.014433318163495842

	> computer network
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11956:	0.03504502607092694
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032959:	0.030962993747842924
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10836:	0.03064378762673114
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13243:	0.03013533642814007
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=898:	0.030024721210029505
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=110003:	0.027777336282335974
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10136:	0.027270159631127715
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=906:	0.02691332050439639
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=102134:	0.02477039499827434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=14831:	0.024550199679620122
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=130606:	0.02404452362322484
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=12784:	0.023965671115819643
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=111056:	0.02351771464636507
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=124538:	0.023222245310882194
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112066:	0.022864979998407083
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=695137:	0.022552059630462255
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113619:	0.021786973741654222
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=109387:	0.02114618039631145
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=118384:	0.02036477662887303
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=4287:	0.020084104052654872

	> internet
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112790:	0.1270296581285952
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10201:	0.08305785339177378
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10671:	0.056749361986270855
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=3239:	0.04172954953016654
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104034:	0.040714491028477434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=3240:	0.035665033406936324
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128659:	0.03554739404421594
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121958:	0.0326036571488302
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121956:	0.03063126508065416
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113409:	0.030492194500085834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10107:	0.029153586168539396
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113336:	0.02895876349032025
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=41535:	0.02828004247101587
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=3254:	0.027928868072343516
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13736:	0.02723969375341001
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10076:	0.027034349166111873
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128649:	0.026813669898444678
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13519:	0.026813669898444678
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11149:	0.026654919704131357
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=114264:	0.026042053498489436

	> computer internet
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=112790:	0.1270296581285952
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10201:	0.08305785339177378
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10671:	0.056749361986270855
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=3239:	0.04172954953016654
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=104034:	0.040714491028477434
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=3240:	0.035665033406936324
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=128659:	0.03554739404421594
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=11956:	0.03504502607092694
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121958:	0.0326036571488302
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=1032959:	0.030962993747842924
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10836:	0.03064378762673114
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=121956:	0.03063126508065416
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113409:	0.030492194500085834
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=13243:	0.03013533642814007
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=898:	0.030024721210029505
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10107:	0.029153586168539396
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=113336:	0.02895876349032025
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=41535:	0.02828004247101587
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=3254:	0.027928868072343516
		http://ieeexplore.ieee.org/xpl/abstractReferences.jsp?arnumber=10136:	0.027270159631127715
	
	> 


## Statistics of Slot Sizes:

    Average Slot Size:  91
    Mode of Slot Sizes: 7
    Maximum Slot Size:  200138
    Median of Slot Sizes:   10
    density = 0.337230048633 + 11696.0794566 / slot_size

![stats](test_stats.png)


